.version.about_us /* version checker */
{
	color: #00001E;
	background-color: #A15F05;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1439px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u4199
{
	z-index: 57;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u4199-bw
{
	z-index: 57;
}

#pu837
{
	width: 0.01px;
	margin-left: -100px;
}

#u837
{
	z-index: 3;
	min-height: 438px;
	padding-bottom: 288px;
	background: transparent url("../images/20160209_125526.jpg") no-repeat center center;
	background-size: cover;
}

#u843
{
	z-index: 9;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u4303
{
	z-index: 4;
	width: 425px;
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6A669A;
	background-color: rgba(27,20,100,0.65);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 356px;
	left: 397px;
	-pie-background: rgba(27,20,100,0.65);
}

#u837-bw
{
	z-index: 3;
	min-height: 438px;
}

#u852-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 120px;
}

#pu4200
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -99px;
	margin-top: -725px;
}

#u4200
{
	z-index: 58;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -609px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u4200
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u4201-4
{
	z-index: 59;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu4202
{
	z-index: 63;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -117px;
}

#u4217
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4220
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4220.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u4223-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4220:hover #u4223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4220:active #u4223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4220.MuseMenuActive #u4223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4220:hover #u4223-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4220:active #u4223-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4224
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u4241
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4241:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u4244-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4241:hover #u4244-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4241:active #u4244-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4241.MuseMenuActive #u4244-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4241:hover #u4244-5 p,#u4241:hover #u4244-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u4241:active #u4244-5 p,#u4241:active #u4244-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4252
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u4255
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4255:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u4258-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4255:hover #u4258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4255:active #u4258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4255.MuseMenuActive #u4258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4255:hover #u4258-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4255:active #u4258-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4210
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u4213
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4213:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u4216-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4213:hover #u4216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4213:active #u4216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4213.MuseMenuActive #u4216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4213:hover #u4216-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4213:active #u4216-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4203
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u4206
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4206:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4207-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4206:hover #u4207-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4206:active #u4207-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4206.MuseMenuActive #u4207-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4206:hover #u4207-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4206:active #u4207-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4245
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u4248
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4248:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u4249-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4248:hover #u4249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4248:active #u4249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4248.MuseMenuActive #u4249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4248:hover #u4249-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4248:active #u4249-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4220.MuseMenuActive #u4223-4 p,#u4241.MuseMenuActive #u4244-5 p,#u4241.MuseMenuActive #u4244-5 span,#u4255.MuseMenuActive #u4258-4 p,#u4213.MuseMenuActive #u4216-4 p,#u4206.MuseMenuActive #u4207-4 p,#u4248.MuseMenuActive #u4249-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5452-8
{
	z-index: 10;
	width: 1020px;
	min-height: 167px;
	background-color: transparent;
	color: #1B1464;
	font-size: 16px;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 42px;
	position: relative;
}

#pu5460
{
	width: 0.01px;
	margin-top: 78px;
}

#u5460
{
	z-index: 18;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
}

#u5461-4
{
	z-index: 19;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u5466
{
	z-index: 30;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u5467-4
{
	z-index: 31;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u5462
{
	z-index: 23;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #2E3192;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 57px;
	position: relative;
	margin-right: -10000px;
	left: 710px;
}

#u5464-4
{
	z-index: 25;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#page_position_content,#pu5463
{
	width: 0.01px;
}

#u5463
{
	z-index: 24;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/susf-ieu5463-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/susf.png") no-repeat center center;
	background-color: #FFFFFF;
	background-size: contain;
}

#u5468
{
	z-index: 35;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 355px;
	background: #FFFFFF url("../images/6qsrlc8w_400x400.jpg") no-repeat center center;
}

.hidpi #u5468
{
	background-image: url("../images/6qsrlc8w_400x400_2x.jpg");
	background-size: 200px 200px;
}

#u5465
{
	z-index: 29;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 710px;
	background: #FFFFFF url("../images/logo%20(1)-ieu5465-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/logo%20(1).jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: contain;
}

#pu5935
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 47px;
}

#u5935
{
	z-index: 41;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
}

#u5936-4
{
	z-index: 42;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 55px;
}

#u5938
{
	z-index: 47;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u5460:hover,#u5466:hover,#u5462:hover,#u5935:hover,#u5938:hover
{
	background-color: #1B1464;
	width: 310px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5939-4
{
	z-index: 48;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 47px;
}

#pu5937
{
	width: 0.01px;
	margin-left: 177px;
}

#u5937
{
	z-index: 46;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/uos_logo.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u5937
{
	background-image: url("../images/uos_logo_2x.png");
}

#u5940
{
	z-index: 52;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 355px;
	background: #FFFFFF url("../images/175_1381334077.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u5940
{
	background-image: url("../images/175_1381334077_2x.png");
}

#u5663
{
	z-index: 36;
	width: 1000px;
	background-color: #1B1464;
	border-radius: 10px;
	padding-bottom: 34px;
	margin-left: 20px;
	margin-top: 59px;
	position: relative;
}

#u5663:hover
{
	background-color: #2E3192;
	width: 1000px;
	min-height: 0px;
	margin: 59px 0px 0px 20px;
}

#u5665-4
{
	z-index: 37;
	position: relative;
	width: 1000px;
	margin-right: -10000px;
	margin-top: 33px;
}

#u5461-4_img,#u5467-4_img,#u5464-4_img,#u5936-4_img,#u5939-4_img,#u5665-4_img
{
	display: block;
	vertical-align: top;
}

#u851
{
	z-index: 2;
	min-height: 167px;
	background-color: #1B1464;
	padding-bottom: 78px;
}

#u837_align_to_page,#u851_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u860-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 736px;
}

#u851-bw
{
	z-index: 2;
	min-height: 167px;
	margin-top: 49px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

