.version.about_uos3 /* version checker */
{
	color: #0000EB;
	background-color: #691254;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1567px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 76px;
	width: 0.01px;
}

#u3398
{
	z-index: 23;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u3398-bw
{
	z-index: 23;
}

#u3399
{
	z-index: 24;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u3399
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u3400-4
{
	z-index: 25;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu3401
{
	z-index: 29;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u3416
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3419
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3419:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u3422-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3419:hover #u3422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3419:active #u3422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3419.MuseMenuActive #u3422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3419:hover #u3422-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3419:active #u3422-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3423
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u3440
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3440.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3443-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3440:hover #u3443-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3440:active #u3443-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3440.MuseMenuActive #u3443-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3440:hover #u3443-5 p,#u3440:hover #u3443-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u3440:active #u3443-5 p,#u3440:active #u3443-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3451
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u3454
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3454:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3457-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3454:hover #u3457-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3454:active #u3457-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3454.MuseMenuActive #u3457-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3454:hover #u3457-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3454:active #u3457-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3409
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u3412
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3412:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u3415-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3412:hover #u3415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3412:active #u3415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3412.MuseMenuActive #u3415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3412:hover #u3415-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3412:active #u3415-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3402
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u3405
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3405:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3406-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3405:hover #u3406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3405:active #u3406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3405.MuseMenuActive #u3406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3405:hover #u3406-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3405:active #u3406-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3444
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u3447
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3447:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3448-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3447:hover #u3448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3447:active #u3448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3447.MuseMenuActive #u3448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3447:hover #u3448-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3447:active #u3448-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3419.MuseMenuActive #u3422-4 p,#u3440.MuseMenuActive #u3443-5 p,#u3440.MuseMenuActive #u3443-5 span,#u3454.MuseMenuActive #u3457-4 p,#u3412.MuseMenuActive #u3415-4 p,#u3405.MuseMenuActive #u3406-4 p,#u3447.MuseMenuActive #u3448-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1065
{
	width: 0.01px;
	margin-left: -100px;
}

#u1065
{
	z-index: 3;
	min-height: 368px;
	padding-bottom: 282px;
	background: transparent url("../images/_8jb1215_edited.jpg") no-repeat center center;
	background-size: cover;
}

#u1086
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 65px;
}

#u4297
{
	z-index: 17;
	width: 373px;
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 420px;
	-pie-background: rgba(27,20,100,0.67);
}

#u1065-bw
{
	z-index: 3;
	min-height: 368px;
}

#u4296-5
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
}

#pu1538
{
	width: 0.01px;
	margin-left: 126px;
	margin-top: 135px;
}

#u1538
{
	z-index: 5;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
}

#u1539-4
{
	z-index: 6;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1540
{
	z-index: 10;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#u1538:hover,#u1540:hover
{
	background-color: #1B1464;
	width: 366px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1542-4
{
	z-index: 12;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1539-4_img,#u1542-4_img
{
	display: block;
	vertical-align: top;
}

#pu1541
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: -1px;
}

#u1541
{
	z-index: 11;
	width: 367px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/uos3exploded_draftqualityraytracing_8000-6000.jpg") no-repeat right center;
	background-size: cover;
}

.hidpi #u1541
{
	background-image: url("../images/uos3exploded_draftqualityraytracing_8000-6000_2x.jpg");
}

#u1543
{
	z-index: 16;
	width: 366px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 402px;
	background: #FFFFFF url("../images/10655311_960061624018306_7507488981327110558_o-ieu1543-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/10655311_960061624018306_7507488981327110558_o.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u1543
{
	background-image: url("../images/10655311_960061624018306_7507488981327110558_o_2x.jpg");
}

#u1080
{
	z-index: 2;
	min-height: 205px;
	background-color: #1B1464;
	padding-bottom: 10px;
}

#u1065_align_to_page,#u1080_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u1158-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 768px;
}

#u1080-bw
{
	z-index: 2;
	min-height: 205px;
	margin-top: 136px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

