.version.attitude_control /* version checker */
{
	color: #0000F4;
	background-color: #E4B446;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 725.9076369904394px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u6808
{
	z-index: 3;
	width: 94px;
	height: 90px;
	top: 1px;
	left: 50%;
	margin-left: -610px;
}

#u5051
{
	z-index: 68;
	min-height: 452px;
	padding-bottom: 274px;
	background: transparent url("../images/20150918_124444.jpg") no-repeat center center;
	background-size: cover;
}

#u5051_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u5052
{
	z-index: 69;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u5053
{
	z-index: 70;
	width: 654px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 282px;
	-pie-background: rgba(27,20,100,0.67);
}

#u5054-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	margin-bottom: -30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: -283px;
}

#u5051-bw
{
	z-index: 68;
	min-height: 452px;
}

#pu5055
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -726px;
	padding: 30px 1120px 61px 100px;
}

#u5055
{
	z-index: 75;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u5055-bw
{
	z-index: 75;
}

#u6807
{
	z-index: 2;
	height: 76px;
	top: 0px;
}

#u6807-bw
{
	z-index: 2;
}

#u5056
{
	z-index: 76;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u5056
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u6809-4
{
	z-index: 4;
	width: 329px;
	min-height: 28px;
	top: 10px;
	left: 50%;
	margin-left: -512px;
}

#u6809-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 329px;
	margin: 0px 0px 0px -512px;
}

#u5057-4
{
	z-index: 77;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu5058
{
	z-index: 81;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u5080
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5083
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5083:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u5086-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5083:hover #u5086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5083:active #u5086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5083:hover #u5086-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5083:active #u5086-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5101
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u5102
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5102:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u5104-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5102:hover #u5104-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5102:active #u5104-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5102:hover #u5104-5 p,#u5102:hover #u5104-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u5102:active #u5104-5 p,#u5102:active #u5104-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5087
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u5088
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5088:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u5091-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5088:hover #u5091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5088:active #u5091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5088:hover #u5091-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5088:active #u5091-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5066
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u5067
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5067:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5068-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5067:hover #u5068-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5067:active #u5068-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5067:hover #u5068-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5067:active #u5068-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5073
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u5076
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5076:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u5078-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5076:hover #u5078-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5076:active #u5078-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5076:hover #u5078-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5076:active #u5078-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5059
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u5060
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5060:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u5061-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5060:hover #u5061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5060:active #u5061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5060:hover #u5061-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5060:active #u5061-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5083.MuseMenuActive #u5086-4 p,#u5102.MuseMenuActive #u5104-5 p,#u5102.MuseMenuActive #u5104-5 span,#u5088.MuseMenuActive #u5091-4 p,#u5067.MuseMenuActive #u5068-4 p,#u5076.MuseMenuActive #u5078-4 p,#u5060.MuseMenuActive #u5061-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu6810
{
	z-index: 8;
	width: 596px;
	top: 20px;
	left: 50%;
	margin-left: 0px;
}

#u6825
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6826
{
	width: 98px;
	padding-bottom: 16px;
}

#u6826:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6826.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6827-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5083.MuseMenuActive #u5086-4,#u6826:hover #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826:active #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826.MuseMenuActive #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6832
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6833
{
	width: 114px;
	padding-bottom: 16px;
}

#u6833:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6833.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6836-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5102.MuseMenuActive #u5104-5,#u6833:hover #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833:active #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833.MuseMenuActive #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6818
{
	width: 82px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6821
{
	width: 82px;
	padding-bottom: 16px;
}

#u6821:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6821.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6822-4
{
	width: 54px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5088.MuseMenuActive #u5091-4,#u6821:hover #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821:active #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821.MuseMenuActive #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6811
{
	width: 88px;
	min-height: 35px;
	margin-right: -10000px;
	left: 300px;
}

#u6812
{
	width: 88px;
	padding-bottom: 16px;
}

#u6812:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6812.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6815-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5067.MuseMenuActive #u5068-4,#u6812:hover #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812:active #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812.MuseMenuActive #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6846
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 390px;
}

#u6849
{
	width: 123px;
	padding-bottom: 16px;
}

#u6849:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6849.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6851-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5076.MuseMenuActive #u5078-4,#u6849:hover #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849:active #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849.MuseMenuActive #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6839
{
	width: 81px;
	min-height: 35px;
	margin-right: -10000px;
	left: 515px;
}

#u6840
{
	width: 81px;
	padding-bottom: 16px;
}

#u6840:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6840.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6843-4
{
	width: 53px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5060.MuseMenuActive #u5061-4,#u6840:hover #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840:active #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840.MuseMenuActive #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5108-21
{
	z-index: 47;
	width: 980px;
	min-height: 352px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u5050
{
	z-index: 46;
	height: 215px;
	background-color: #1B1464;
}

#u5050-bw
{
	z-index: 46;
	margin-top: 51px;
	height: 215px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

