.version.education /* version checker */
{
	color: #00000E;
	background-color: #403911;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 30px;
	padding-right: 1020px;
	padding-bottom: 696px;
	margin-left: auto;
	margin-right: auto;
}

#u6808
{
	z-index: 3;
	width: 94px;
	height: 90px;
	top: 1px;
	left: 50%;
	margin-left: -610px;
}

#u6807
{
	z-index: 2;
	height: 76px;
	top: 0px;
}

#u6807-bw
{
	z-index: 2;
}

#u6809-4
{
	z-index: 4;
	width: 329px;
	min-height: 28px;
	top: 10px;
	left: 50%;
	margin-left: -512px;
}

#u6809-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 329px;
	margin: 0px 0px 0px -512px;
}

#menuu6810
{
	z-index: 8;
	width: 596px;
	top: 20px;
	left: 50%;
	margin-left: 0px;
}

#u6825
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6826
{
	width: 98px;
	padding-bottom: 16px;
}

#u6826:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6826.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6827-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6826:hover #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826:active #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826.MuseMenuActive #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6832
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6833
{
	width: 114px;
	padding-bottom: 16px;
}

#u6833:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6833.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6836-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6833:hover #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833:active #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833.MuseMenuActive #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6818
{
	width: 82px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6821
{
	width: 82px;
	padding-bottom: 16px;
}

#u6821:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6821.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6822-4
{
	width: 54px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6821:hover #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821:active #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821.MuseMenuActive #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6811
{
	width: 88px;
	min-height: 35px;
	margin-right: -10000px;
	left: 300px;
}

#u6812
{
	width: 88px;
	padding-bottom: 16px;
}

#u6812:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6812.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6815-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6812:hover #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812:active #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812.MuseMenuActive #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6846
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 390px;
}

#u6849
{
	width: 123px;
	padding-bottom: 16px;
}

#u6849:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6849.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6851-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6849:hover #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849:active #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849.MuseMenuActive #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6839
{
	width: 81px;
	min-height: 35px;
	margin-right: -10000px;
	left: 515px;
}

#u6840
{
	width: 81px;
	padding-bottom: 16px;
}

#u6840:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6840.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6843-4
{
	width: 53px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6840:hover #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840:active #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840.MuseMenuActive #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

