.version.full_list /* version checker */
{
	color: #0000F8;
	background-color: #6F9EC2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 725.6076369904695px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u5687
{
	z-index: 3;
	min-height: 451px;
	padding-bottom: 251px;
	background: transparent url("../images/20150618_141357.jpg") no-repeat center center;
	background-size: cover;
}

#u5687_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u5688
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u5689
{
	z-index: 5;
	width: 565px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 325px;
	-pie-background: rgba(27,20,100,0.67);
}

#u5690-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -206px;
}

#u5687-bw
{
	z-index: 3;
	min-height: 451px;
}

#pu5691
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -702px;
	padding: 30px 1120px 61px 100px;
}

#u5691
{
	z-index: 312;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u5691-bw
{
	z-index: 312;
}

#u5692
{
	z-index: 313;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -609px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u5692
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u5693-4
{
	z-index: 314;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -504px;
}

#menuu5694
{
	z-index: 318;
	width: 695px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -117px;
}

#u5737
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5738
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5741-4
{
	width: 94px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5738:hover #u5741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u5738:active #u5741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u5738.MuseMenuActive #u5741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u5738:hover #u5741-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5738:active #u5741-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5702
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u5705
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5705:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u5708-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5705:hover #u5708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u5705:active #u5708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u5705.MuseMenuActive #u5708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u5705:hover #u5708-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5705:active #u5708-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5709
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u5710
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5710:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u5713-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5710:hover #u5713-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5710:active #u5713-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5710.MuseMenuActive #u5713-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5710:hover #u5713-5 p,#u5710:hover #u5713-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u5710:active #u5713-5 p,#u5710:active #u5713-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5723
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u5726
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5726:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u5728-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5726:hover #u5728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5726:active #u5728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5726.MuseMenuActive #u5728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5726:hover #u5728-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5726:active #u5728-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5730
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u5731
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5731:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5734-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5731:hover #u5734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5731:active #u5734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5731.MuseMenuActive #u5734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5731:hover #u5734-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5731:active #u5734-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5695
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u5696
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5738:hover,#u5696:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u5697-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5696:hover #u5697-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5696:active #u5697-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5696.MuseMenuActive #u5697-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5696:hover #u5697-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5696:active #u5697-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5716
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u5719
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5719:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u5721-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5719:hover #u5721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5719:active #u5721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5719.MuseMenuActive #u5721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5719:hover #u5721-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5719:active #u5721-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5738.MuseMenuActive #u5741-4 p,#u5705.MuseMenuActive #u5708-4 p,#u5710.MuseMenuActive #u5713-5 p,#u5710.MuseMenuActive #u5713-5 span,#u5726.MuseMenuActive #u5728-4 p,#u5731.MuseMenuActive #u5734-4 p,#u5696.MuseMenuActive #u5697-4 p,#u5719.MuseMenuActive #u5721-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5746-5
{
	z-index: 13;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u5747-7
{
	z-index: 18;
	width: 488px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5748-6
{
	z-index: 25;
	width: 492px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 488px;
}

#u5749-4
{
	z-index: 31;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u5750-6
{
	z-index: 35;
	width: 334px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5752-8
{
	z-index: 48;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u5751-7
{
	z-index: 41;
	width: 320px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u5753-4
{
	z-index: 56;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u5745-3
{
	z-index: 10;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 163px;
}

#u5754-10
{
	z-index: 60;
	width: 334px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5756-11
{
	z-index: 80;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u5755-10
{
	z-index: 70;
	width: 320px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u5757-4
{
	z-index: 91;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#pu5758-7
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 11px;
}

#u5758-7
{
	z-index: 95;
	width: 334px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5760-7
{
	z-index: 106;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u5759-4
{
	z-index: 102;
	width: 320px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u5765-4
{
	z-index: 113;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u5768-8
{
	z-index: 117;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 354px;
	position: relative;
}

#u5769-4
{
	z-index: 125;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u5770-6
{
	z-index: 129;
	width: 501px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5771-6
{
	z-index: 135;
	width: 484px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 497px;
}

#u5773-4
{
	z-index: 141;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u5774-8
{
	z-index: 145;
	width: 244px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5777-7
{
	z-index: 167;
	width: 244px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u5776-7
{
	z-index: 160;
	width: 275px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u5775-7
{
	z-index: 153;
	width: 209px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 771px;
}

#u5778-4
{
	z-index: 174;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u5779-9
{
	z-index: 178;
	width: 334px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5781-6
{
	z-index: 196;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u5780-9
{
	z-index: 187;
	width: 320px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u5782-4
{
	z-index: 202;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u5785-6
{
	z-index: 206;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	margin-left: 354px;
	position: relative;
}

#u5790-4
{
	z-index: 212;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u5791-9
{
	z-index: 216;
	width: 334px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5793-6
{
	z-index: 234;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u5792-9
{
	z-index: 225;
	width: 320px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u5794-4
{
	z-index: 240;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#pu5747-7,#pu5750-6,#pu5745-3,#pu5770-6,#pu5774-8,#pu5779-9,#pu5791-9,#pu5798-6
{
	width: 0.01px;
	margin-left: 20px;
}

#u5798-6
{
	z-index: 244;
	width: 244px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5801-6
{
	z-index: 263;
	width: 244px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u5800-6
{
	z-index: 257;
	width: 275px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u5799-7
{
	z-index: 250;
	width: 209px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 771px;
}

#u5802-4
{
	z-index: 269;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 1px;
	position: relative;
}

#u5803-5
{
	z-index: 273;
	width: 326px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 353px;
	position: relative;
}

#u5803-2
{
	font-size: 16px;
}

#u5804-4
{
	z-index: 278;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	position: relative;
}

#u5805-7
{
	z-index: 282;
	width: 488px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5747-5,#u5750-4,#u5752-6,#u5754-2,#u5754-5,#u5754-8,#u5756-2,#u5756-6,#u5756-9,#u5758-2,#u5758-5,#u5760-2,#u5760-5,#u5770-4,#u5774-6,#u5777-5,#u5776-5,#u5779-2,#u5779-7,#u5781-4,#u5785-4,#u5791-2,#u5791-7,#u5793-4,#u5798-4,#u5801-4,#u5800-4,#u5805-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5806-6
{
	z-index: 289;
	width: 492px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 488px;
}

#u5807-5
{
	z-index: 295;
	width: 980px;
	min-height: 56px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 1px;
	position: relative;
}

#pu5805-7,#pu5808-6
{
	width: 0.01px;
	margin-left: 19px;
}

#u5808-6
{
	z-index: 300;
	width: 488px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5809-6
{
	z-index: 306;
	width: 492px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 488px;
}

#u5747-3,#u5748-4,#u5750-3,#u5752-3,#u5752-4,#u5751-5,#u5754,#u5754-4,#u5754-7,#u5756,#u5756-5,#u5756-8,#u5758,#u5758-4,#u5760,#u5760-4,#u5770-3,#u5774-3,#u5774-4,#u5777-3,#u5776-3,#u5779,#u5779-6,#u5781-3,#u5785-3,#u5791,#u5791-6,#u5793-3,#u5798-3,#u5801-3,#u5800-3,#u5805-3,#u5806-4,#u5809-4
{
	font-size: 16px;
	font-family: coda, sans-serif;
	font-weight: 400;
	line-height: 19px;
}

#u5686
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u5686-bw
{
	z-index: 2;
	margin-top: 75px;
	height: 215px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

