.version.gallery /* version checker */
{
	color: #0000E7;
	background-color: #39B742;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1438.5076369904152px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u3843
{
	z-index: 39;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u3843-bw
{
	z-index: 39;
}

#pu1252
{
	width: 0.01px;
	margin-left: -100px;
}

#u1252
{
	z-index: 3;
	min-height: 449px;
	padding-bottom: 277px;
	background: transparent url("../images/befunky%20collage.jpg") no-repeat center center;
	background-size: cover;
}

#u1242
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u4305
{
	z-index: 40;
	width: 256px;
	height: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 484px;
	-pie-background: rgba(27,20,100,0.67);
}

#u1252-bw
{
	z-index: 3;
	min-height: 449px;
}

#u4287-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
}

#pu3844
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -98px;
	margin-top: -725px;
}

#u3844
{
	z-index: 45;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -608px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u3844
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u3845-4
{
	z-index: 46;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 28px;
	font-size: 23px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -506px;
}

#menuu3846
{
	z-index: 50;
	width: 695px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -116px;
}

#u3861
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3864
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3867-4
{
	width: 94px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3864:hover #u3867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3864:active #u3867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3864.MuseMenuActive #u3867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3864:hover #u3867-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3864:active #u3867-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3903
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u3904
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3904:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3906-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3904:hover #u3906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3904:active #u3906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3904.MuseMenuActive #u3906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3904:hover #u3906-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3904:active #u3906-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3868
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u3885
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3885:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3888-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3885:hover #u3888-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3885:active #u3888-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3885.MuseMenuActive #u3888-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3885:hover #u3888-5 p,#u3885:hover #u3888-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u3885:active #u3888-5 p,#u3885:active #u3888-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3896
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u3899
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3899.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3902-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3899:hover #u3902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3899:active #u3902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3899.MuseMenuActive #u3902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3899:hover #u3902-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3899:active #u3902-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3854
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u3857
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3857:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u3860-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3857:hover #u3860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3857:active #u3860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3857.MuseMenuActive #u3860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3857:hover #u3860-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3857:active #u3860-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3847
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u3850
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3864:hover,#u3850:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3851-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3850:hover #u3851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3850:active #u3851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3850.MuseMenuActive #u3851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3850:hover #u3851-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3850:active #u3851-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3889
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u3892
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3892:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3893-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3892:hover #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3892:active #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3892.MuseMenuActive #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3892:hover #u3893-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3892:active #u3893-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3864.MuseMenuActive #u3867-4 p,#u3904.MuseMenuActive #u3906-4 p,#u3885.MuseMenuActive #u3888-5 p,#u3885.MuseMenuActive #u3888-5 span,#u3899.MuseMenuActive #u3902-4 p,#u3857.MuseMenuActive #u3860-4 p,#u3850.MuseMenuActive #u3851-4 p,#u3892.MuseMenuActive #u3893-4 p
{
	color: #1B1464;
	visibility: inherit;
}

#slideshowu2846
{
	z-index: 5;
	width: 0.01px;
	height: 498px;
	margin-left: 20px;
	margin-top: 49px;
	position: relative;
}

#u2858
{
	position: absolute;
	width: 980px;
	height: 498px;
	background-color: transparent;
}

#u2858popup
{
	z-index: 6;
}

#u2859
{
	z-index: 7;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2891
{
	z-index: 9;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2891_img
{
	padding-left: 106px;
	padding-right: 106px;
}

#u2900
{
	z-index: 11;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2909
{
	z-index: 13;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2918
{
	z-index: 15;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2966
{
	z-index: 17;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2966_img
{
	padding-left: 158px;
	padding-right: 158px;
}

#u2975
{
	z-index: 19;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2975_img
{
	padding-left: 236px;
	padding-right: 236px;
}

#u2984
{
	z-index: 21;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2993
{
	z-index: 23;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3002
{
	z-index: 25;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3011
{
	z-index: 27;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3020
{
	z-index: 29;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2984_img,#u2993_img,#u3002_img,#u3011_img,#u3020_img
{
	padding-left: 117px;
	padding-right: 116px;
}

#u2852-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 229px;
	left: 7px;
}

#u2852-4popup
{
	z-index: 31;
}

#u2857-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 229px;
	left: 943px;
}

#u2857-4popup
{
	z-index: 35;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1254
{
	z-index: 2;
	min-height: 215px;
	background-color: #1B1464;
}

#u1252_align_to_page,#u1254_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u1229-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 741px;
}

#u1254-bw
{
	z-index: 2;
	min-height: 215px;
	margin-top: 48px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

