.version.gallery /* version checker */
{
	color: #0000E0;
	background-color: #244039;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1439px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#pu1734
{
	width: 0.01px;
	margin-left: -100px;
}

#u1734,#u1734-bw
{
	z-index: 2;
	height: 449px;
}

#u1252
{
	z-index: 87;
	min-height: 449px;
	padding-bottom: 277px;
	background: transparent url("../images/befunky%20collage.jpg") no-repeat center center;
	background-size: cover;
}

#u1242
{
	z-index: 88;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u4305
{
	z-index: 124;
	width: 256px;
	height: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 484px;
	-pie-background: rgba(27,20,100,0.67);
}

#u1252-bw
{
	z-index: 87;
	min-height: 449px;
}

#u4287-4
{
	z-index: 125;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
}

#pu3843
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -726px;
	padding: 30px 1120px 61px 100px;
}

#u3843
{
	z-index: 123;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u3843-bw
{
	z-index: 123;
}

#u1736
{
	z-index: 3;
	height: 89px;
	top: 0px;
}

#u1736-bw
{
	z-index: 3;
}

#u3844
{
	z-index: 129;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -608px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u3844
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u3845-4
{
	z-index: 130;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 28px;
	font-size: 23px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -506px;
}

#u1738-4
{
	z-index: 4;
	width: 329px;
	min-height: 28px;
	top: 20px;
	left: 50%;
	margin-left: -506px;
}

#menuu1739
{
	z-index: 8;
	width: 742px;
	top: 20px;
	left: 50%;
	margin-left: -132px;
}

#u1796
{
	width: 115px;
	min-height: 35px;
	margin-right: -10000px;
}

#u1797
{
	width: 115px;
	padding-bottom: 16px;
}

#u1797:hover
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u1797.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u1798-4
{
	width: 94px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1797:hover #u1798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1797:active #u1798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1740
{
	width: 163px;
	min-height: 35px;
	margin-right: -10000px;
	left: 117px;
}

#u1741
{
	width: 163px;
	padding-bottom: 16px;
}

#u1741:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1741.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1744-4
{
	width: 142px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1741:hover #u1744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1741:active #u1744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1741.MuseMenuActive #u1744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1745
{
	width: 168px;
	top: 35px;
}

#u1805
{
	width: 168px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1807-4
{
	width: 49px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u1805:hover #u1807-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u1805.MuseMenuActive #u1807-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u1821
{
	width: 168px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1822-4
{
	width: 45px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 58px;
}

#u1821:hover #u1822-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1821.MuseMenuActive #u1822-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1746,#u1804,#u1818,#u1811
{
	width: 168px;
}

#u1814
{
	width: 168px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1805.MuseMenuActive,#u1821.MuseMenuActive,#u1814.MuseMenuActive
{
	width: 168px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1815-4
{
	width: 46px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 57px;
}

#u1814:hover #u1815-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1814.MuseMenuActive #u1815-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1775
{
	width: 107px;
	min-height: 35px;
	margin-right: -10000px;
	left: 282px;
}

#u1792
{
	width: 107px;
	padding-bottom: 16px;
}

#u1792:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1792.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1794-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1792:hover #u1794-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1792:active #u1794-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1776
{
	width: 108px;
	top: 35px;
}

#u1777
{
	width: 108px;
}

#u1777:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u1777:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u1786
{
	width: 108px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1786:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1786:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1788
{
	height: 17px;
	width: 72px;
	margin-right: -10000px;
	top: 4px;
	left: 18px;
}

#u1785,#u1778
{
	width: 108px;
}

#u1779
{
	width: 108px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1786.MuseMenuActive,#u1779:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1779.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1782
{
	height: 17px;
	width: 51px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u1754
{
	width: 75px;
	min-height: 35px;
	margin-right: -10000px;
	left: 391px;
}

#u1757
{
	width: 75px;
	padding-bottom: 16px;
}

#u1757:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1757.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1759-4
{
	width: 54px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1757:hover #u1759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1757:active #u1759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1761
{
	width: 81px;
	min-height: 35px;
	margin-right: -10000px;
	left: 468px;
}

#u1762
{
	width: 81px;
	padding-bottom: 16px;
}

#u1762:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u1762.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u1765-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1762:hover #u1765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1762:active #u1765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1747
{
	width: 116px;
	min-height: 35px;
	margin-right: -10000px;
	left: 551px;
}

#u1750
{
	width: 116px;
	padding-bottom: 16px;
}

#u1750:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1750.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1753-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1750:hover #u1753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u1750:active #u1753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u1768
{
	width: 73px;
	min-height: 35px;
	margin-right: -10000px;
	left: 669px;
}

#u1769
{
	width: 73px;
	padding-bottom: 16px;
}

#u1769:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1769.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1770-4
{
	width: 53px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1769:hover #u1770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1769:active #u1770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#menuu3846
{
	z-index: 134;
	width: 695px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -116px;
}

#u3861
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3864
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3867-4
{
	width: 94px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u1797.MuseMenuActive #u1798-4,#u3864:hover #u3867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3864:active #u3867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3864.MuseMenuActive #u3867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3864:hover #u3867-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3864:active #u3867-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3903
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u3904
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3904:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3906-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3904:hover #u3906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3904:active #u3906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3904.MuseMenuActive #u3906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3904:hover #u3906-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3904:active #u3906-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3908
{
	width: 77px;
	background-color: transparent;
	top: 35px;
}

#u3909
{
	width: 77px;
	background-color: #1B1464;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u3909:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u3911
{
	width: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3911:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3914
{
	height: 18px;
	width: 72px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
	background: url("../images/u3914.png") no-repeat 0px 0px;
}

#u3911:hover #u3914
{
	background: url("../images/u3914-r.png") no-repeat 0px 0px;
}

.hidpi #u3914
{
	background-image: url("../images/u3914_2x.png");
	background-size: 72px 18px;
}

.hidpi #u3911:hover #u3914
{
	background-image: url("../images/u3914-r_2x.png");
	background-size: 70px 18px;
}

#u3918
{
	width: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3921
{
	height: 18px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
	background: url("../images/u3921.png") no-repeat 0px 0px;
}

#u3918:hover #u3921
{
	background: url("../images/u3921-r.png") no-repeat 0px 0px;
}

.hidpi #u3921
{
	background-image: url("../images/u3921_2x.png");
	background-size: 57px 18px;
}

.hidpi #u3918:hover #u3921
{
	background-image: url("../images/u3921-r_2x.png");
	background-size: 59px 18px;
}

#u3910,#u3917,#u3924
{
	width: 77px;
	background-color: transparent;
	position: relative;
}

#u3925
{
	width: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3926
{
	height: 18px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
	background: url("../images/u3926.png") no-repeat 0px 0px;
}

#u3925:hover #u3926
{
	background: url("../images/u3926-r.png") no-repeat 0px 0px;
}

.hidpi #u3926
{
	background-image: url("../images/u3926_2x.png");
	background-size: 59px 18px;
}

.hidpi #u3925:hover #u3926
{
	background-image: url("../images/u3926-r_2x.png");
	background-size: 57px 18px;
}

#u3868
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u3885
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3885:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3888-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u1792.MuseMenuActive #u1794-5,#u3885:hover #u3888-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3885:active #u3888-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3885.MuseMenuActive #u3888-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3885:hover #u3888-5 p,#u3885:hover #u3888-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u3885:active #u3888-5 p,#u3885:active #u3888-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3869
{
	width: 114px;
	background-color: transparent;
	top: 35px;
}

#u3870
{
	width: 114px;
	background-color: #1B1464;
	border-radius: 10px;
	position: relative;
}

#u3870:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3870:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3874
{
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3875
{
	height: 18px;
	width: 110px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
	background: url("../images/u3875.png") no-repeat 0px 0px;
}

#u3874:hover #u3875
{
	background: url("../images/u3875-r.png") no-repeat 0px 0px;
}

#u3874:active #u3875
{
	background: url("../images/u3875-m.png") no-repeat 0px 0px;
}

.hidpi #u3875
{
	background-image: url("../images/u3875_2x.png");
	background-size: 110px 18px;
}

.hidpi #u3874:hover #u3875
{
	background-image: url("../images/u3875-r_2x.png");
	background-size: 110px 18px;
}

.hidpi #u3874:active #u3875
{
	background-image: url("../images/u3875-m_2x.png");
	background-size: 110px 18px;
}

#u3871,#u3878
{
	width: 114px;
	background-color: transparent;
	position: relative;
}

#u3879
{
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3874:hover,#u3879:hover
{
	border-radius: 10px 10px 0px 0px ;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3879:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3880
{
	height: 18px;
	width: 71px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u3880.png") no-repeat 0px 0px;
}

#u3879:hover #u3880
{
	background: url("../images/u3880-r.png") no-repeat 0px 0px;
}

#u3879:active #u3880
{
	background: url("../images/u3880-m.png") no-repeat 0px 0px;
}

.hidpi #u3880
{
	background-image: url("../images/u3880_2x.png");
	background-size: 71px 18px;
}

.hidpi #u3879:hover #u3880
{
	background-image: url("../images/u3880-r_2x.png");
	background-size: 67px 18px;
}

.hidpi #u3879:active #u3880
{
	background-image: url("../images/u3880-m_2x.png");
	background-size: 71px 18px;
}

#u3896
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u3899
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3899.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3902-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u1757.MuseMenuActive #u1759-4,#u3899:hover #u3902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3899:active #u3902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3899.MuseMenuActive #u3902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3899:hover #u3902-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3899:active #u3902-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3854
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u3857
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3857:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u3860-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u1762.MuseMenuActive #u1765-4,#u3857:hover #u3860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3857:active #u3860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3857.MuseMenuActive #u3860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3857:hover #u3860-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3857:active #u3860-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3847
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u3850
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3864:hover,#u3850:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3851-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u1750.MuseMenuActive #u1753-4,#u3850:hover #u3851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3850:active #u3851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3850.MuseMenuActive #u3851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3850:hover #u3851-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3850:active #u3851-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3889
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u3892
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3892:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3893-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u1769.MuseMenuActive #u1770-4,#u3892:hover #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3892:active #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3892.MuseMenuActive #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3892:hover #u3893-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3892:active #u3893-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3864.MuseMenuActive #u3867-4 p,#u3904.MuseMenuActive #u3906-4 p,#u3885.MuseMenuActive #u3888-5 p,#u3885.MuseMenuActive #u3888-5 span,#u3899.MuseMenuActive #u3902-4 p,#u3857.MuseMenuActive #u3860-4 p,#u3850.MuseMenuActive #u3851-4 p,#u3892.MuseMenuActive #u3893-4 p
{
	color: #1B1464;
	visibility: inherit;
}

#slideshowu2846
{
	z-index: 89;
	width: 0.01px;
	height: 498px;
	margin-left: 20px;
	margin-top: 49px;
	position: relative;
}

#u2858
{
	position: absolute;
	width: 980px;
	height: 498px;
	background-color: transparent;
}

#u2858popup
{
	z-index: 90;
}

#u2859
{
	z-index: 91;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2891
{
	z-index: 93;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2891_img
{
	padding-left: 106px;
	padding-right: 106px;
}

#u2900
{
	z-index: 95;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2909
{
	z-index: 97;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2918
{
	z-index: 99;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2966
{
	z-index: 101;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2966_img
{
	padding-left: 158px;
	padding-right: 158px;
}

#u2975
{
	z-index: 103;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2975_img
{
	padding-left: 236px;
	padding-right: 236px;
}

#u2984
{
	z-index: 105;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2993
{
	z-index: 107;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3002
{
	z-index: 109;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3011
{
	z-index: 111;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3020
{
	z-index: 113;
	width: 980px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2984_img,#u2993_img,#u3002_img,#u3011_img,#u3020_img
{
	padding-left: 117px;
	padding-right: 116px;
}

#u2852-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 229px;
	left: 7px;
}

#u2852-4popup
{
	z-index: 115;
}

#u2857-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 229px;
	left: 943px;
}

#u2857-4popup
{
	z-index: 119;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1254
{
	z-index: 86;
	min-height: 215px;
	background-color: #1B1464;
}

#u1252_align_to_page,#u1254_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u1229-4
{
	z-index: 209;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 741px;
}

#u1254-bw
{
	z-index: 86;
	min-height: 215px;
	margin-top: 49px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

