.version.ground_station /* version checker */
{
	color: #0000E7;
	background-color: #CAFF31;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1309px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u4683
{
	z-index: 24;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u4683-bw
{
	z-index: 24;
}

#pu4679
{
	width: 0.01px;
	margin-left: -100px;
}

#u4679
{
	z-index: 17;
	min-height: 452px;
	padding-bottom: 274px;
	background: transparent url("../images/20150915_170536.jpg") no-repeat center center;
	background-size: cover;
}

#u4679_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u4680
{
	z-index: 18;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 96px;
}

#u4681
{
	z-index: 19;
	width: 556px;
	height: 104px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 361px;
	-pie-background: rgba(27,20,100,0.67);
}

#u4679-bw
{
	z-index: 17;
	min-height: 452px;
}

#u4682-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 32px;
}

#pu4684
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -68px;
	margin-top: -725px;
}

#u4684
{
	z-index: 25;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -578px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u4684
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u4685-4
{
	z-index: 26;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 28px;
	font-size: 23px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -473px;
}

#menuu4686
{
	z-index: 30;
	width: 670px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -86px;
}

#u4708
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4709
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4709:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u4712-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4709:hover #u4712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4709:active #u4712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4709.MuseMenuActive #u4712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4709:hover #u4712-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4709:active #u4712-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4701
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u4704
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4704:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u4706-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4704:hover #u4706-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4704:active #u4706-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4704.MuseMenuActive #u4706-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4704:hover #u4706-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4704:active #u4706-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4687
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u4688
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4688:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u4690-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4688:hover #u4690-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4688:active #u4690-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4688.MuseMenuActive #u4690-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4688:hover #u4690-5 p,#u4688:hover #u4690-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u4688:active #u4690-5 p,#u4688:active #u4690-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4715
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u4716
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4716:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u4718-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4716:hover #u4718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4716:active #u4718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4716.MuseMenuActive #u4718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4716:hover #u4718-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4716:active #u4718-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4694
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#u4697
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4697:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u4699-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4697:hover #u4699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4697:active #u4699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4697.MuseMenuActive #u4699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4697:hover #u4699-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4697:active #u4699-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4722
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u4723
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4723:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4726-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4723:hover #u4726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4723:active #u4726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4723.MuseMenuActive #u4726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4723:hover #u4726-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4723:active #u4726-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4729
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u4730
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4730:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u4733-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4730:hover #u4733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4730:active #u4733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4730.MuseMenuActive #u4733-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4730:hover #u4733-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4730:active #u4733-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4709.MuseMenuActive #u4712-4 p,#u4704.MuseMenuActive #u4706-4 p,#u4688.MuseMenuActive #u4690-5 p,#u4688.MuseMenuActive #u4690-5 span,#u4716.MuseMenuActive #u4718-4 p,#u4697.MuseMenuActive #u4699-4 p,#u4723.MuseMenuActive #u4726-4 p,#u4730.MuseMenuActive #u4733-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu4678
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 17px;
}

#u4678
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u4678-bw
{
	z-index: 2;
	margin-top: 352px;
	height: 215px;
}

#u4736-14
{
	z-index: 3;
	width: 980px;
	min-height: 567px;
	background-color: transparent;
	color: #1B1464;
	line-height: 19px;
	font-size: 16px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 152px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

