.version.index /* version checker */
{
	color: #0000E6;
	background-color: #B47DF6;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2248.5576369904174px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u3042
{
	z-index: 76;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u3042-bw
{
	z-index: 76;
}

#u682
{
	z-index: 64;
	min-height: 552px;
	padding-bottom: 392px;
	background: transparent url("../images/8jb1210.jpg") no-repeat center center;
	background-size: cover;
}

#u682_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u4301
{
	z-index: 65;
	width: 864px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 178px;
	-pie-background: rgba(27,20,100,0.67);
}

#u4301:hover
{
	background-color: #383278;
	background-color: rgba(27,20,100,0.87);
	width: 864px;
	min-height: 0px;
	margin: 412px -10000px 0px 0px;
	-pie-background: rgba(27,20,100,0.87);
}

#u686-4
{
	z-index: 66;
	position: relative;
	width: 955px;
	margin-right: -10000px;
	margin-top: 18px;
	left: -47px;
}

#u682-bw
{
	z-index: 64;
	min-height: 552px;
}

#pu684
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -98px;
	margin-top: -943px;
}

#u684
{
	z-index: 77;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -608px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u684
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u685-4
{
	z-index: 78;
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -510px;
}

#menuu2184
{
	z-index: 82;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -116px;
}

#u2241
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2244
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u2244:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2246-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u2244:hover #u2246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2244:active #u2246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2244.MuseMenuActive #u2246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2244:hover #u2246-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u2244:active #u2246-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u2185
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u2186
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u2186:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u2188-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u2186:hover #u2188-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u2186:active #u2188-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u2186.MuseMenuActive #u2188-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u2186:hover #u2188-5 p,#u2186:hover #u2188-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u2186:active #u2188-5 p,#u2186:active #u2188-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u2255
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u2256
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u2256:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u2257-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u2256:hover #u2257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u2256:active #u2257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u2256.MuseMenuActive #u2257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u2256:hover #u2257-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u2256:active #u2257-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u2262
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u2263
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u2263:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u2266-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u2263:hover #u2266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u2263:active #u2266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u2263.MuseMenuActive #u2266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u2263:hover #u2266-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u2263:active #u2266-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u2206
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u2209
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u2209:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u2212-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u2209:hover #u2212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u2209:active #u2212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u2209.MuseMenuActive #u2212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u2209:hover #u2212-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u2209:active #u2212-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u2248
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u2249
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u2249:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u2251-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u2249:hover #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2249:active #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2249.MuseMenuActive #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2249:hover #u2251-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u2249:active #u2251-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u2244.MuseMenuActive #u2246-4 p,#u2186.MuseMenuActive #u2188-5 p,#u2186.MuseMenuActive #u2188-5 span,#u2256.MuseMenuActive #u2257-4 p,#u2263.MuseMenuActive #u2266-4 p,#u2209.MuseMenuActive #u2212-4 p,#u2249.MuseMenuActive #u2251-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu293
{
	width: 0.01px;
	margin-left: -300px;
	margin-top: 83px;
}

#u293
{
	z-index: 2;
	width: 980px;
	background-color: #FFFFFF;
	border-radius: 100px 100px 0px 0px ;
	padding-bottom: 190px;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u514-4
{
	z-index: 5;
	width: 833px;
	min-height: 59px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 79px;
}

#u514-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 59px;
	width: 833px;
	margin: 127px -10000px 0px 0px;
}

#u514-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u778-12
{
	z-index: 9;
	width: 267px;
	min-height: 260px;
	background-color: transparent;
	color: #1B1464;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 365px;
}

#u777-12
{
	z-index: 27;
	width: 312px;
	min-height: 260px;
	background-color: transparent;
	color: #1B1464;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 657px;
}

#u643
{
	z-index: 39;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 657px;
}

#pu299
{
	z-index: 40;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u299
{
	z-index: 0;
	width: 312px;
	background-color: #2E3192;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu766-4
{
	width: 0.01px;
	position: relative;
	left: 28px;
	padding-top: 117px;
	z-index: 2;
	padding-bottom: 91px;
}

#u766-4
{
	z-index: 41;
	position: relative;
	width: 256px;
	margin-right: -10000px;
}

.js #u299.ose_pre_init,.js #u766-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u776-12
{
	z-index: 45;
	width: 267px;
	min-height: 260px;
	background-color: transparent;
	color: #1B1464;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 1004px;
}

#u4293
{
	z-index: 74;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
}

#pu644
{
	width: 0.01px;
	padding-bottom: 260px;
	margin-left: 20px;
	margin-top: -261px;
}

#u644
{
	z-index: 21;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1309px;
	left: 20px;
}

#u305
{
	z-index: 22;
	width: 312px;
	background-color: #29ABE2;
	border-radius: 0px 0px 0px 100px ;
	padding-bottom: 91px;
	position: relative;
	margin-right: -10000px;
}

#u764-4
{
	z-index: 23;
	position: relative;
	width: 264px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 28px;
}

#u642
{
	z-index: 57;
	width: 312px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1309px;
	left: 688px;
}

#u297
{
	z-index: 58;
	width: 312px;
	background-color: #1B1464;
	border-radius: 0px 0px 100px 0px ;
	padding-bottom: 91px;
	position: relative;
	margin-right: -10000px;
}

#u767-4
{
	z-index: 59;
	position: relative;
	width: 268px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 26px;
}

#u686-4_img,#u685-4_img,#u766-4_img,#u764-4_img,#u767-4_img
{
	display: block;
	vertical-align: top;
}

#pu307
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 84px;
}

#u307
{
	z-index: 3;
	height: 350px;
	background-color: #000000;
}

#u307-bw
{
	z-index: 3;
	height: 350px;
}

#u466
{
	z-index: 4;
	min-height: 582.1887809207551px;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#u466_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 30px;
	padding-bottom: 1px;
}

#u769-4
{
	z-index: 70;
	width: 980px;
	min-height: 79px;
	background-color: transparent;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 2px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	left: 125px;
	position: relative;
}

#u4294
{
	z-index: 75;
	width: 981px;
	min-height: 473px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	left: 124px;
	position: relative;
}

#u466-bw
{
	z-index: 4;
	min-height: 582.1887809207551px;
}

#u309
{
	z-index: 63;
	height: 221px;
	background-color: #1B1464;
}

#u309-bw
{
	z-index: 63;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 221px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

