#u6808
{
	position: fixed;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u6808
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u6807
{
	background-color: #1B1464;
	position: fixed;
}

#u6809-4
{
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u6809-4.MuseLinkActive p
{
	font-family: coda, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#menuu6810
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u6826
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6826:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6827-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6826:hover #u6827-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6826:active #u6827-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6833
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6833:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6836-5
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6833:hover #u6836-5 p,#u6833:hover #u6836-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u6833:active #u6836-5 p,#u6833:active #u6836-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6821
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6821:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6822-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6821:hover #u6822-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6821:active #u6822-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6812
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6812:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6815-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6812:hover #u6815-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6812:active #u6815-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6849
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6849:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6851-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6849:hover #u6851-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6849:active #u6851-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6825,#u6832,#u6818,#u6811,#u6846,#u6839
{
	background-color: transparent;
	position: relative;
}

#u6840
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6840:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6826.MuseMenuActive,#u6833.MuseMenuActive,#u6821.MuseMenuActive,#u6812.MuseMenuActive,#u6849.MuseMenuActive,#u6840.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
}

#u6843-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6840:hover #u6843-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6840:active #u6843-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6826.MuseMenuActive #u6827-4 p,#u6833.MuseMenuActive #u6836-5 p,#u6833.MuseMenuActive #u6836-5 span,#u6821.MuseMenuActive #u6822-4 p,#u6812.MuseMenuActive #u6815-4 p,#u6849.MuseMenuActive #u6851-4 p,#u6840.MuseMenuActive #u6843-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

