.version.mechanisms /* version checker */
{
	color: #000010;
	background-color: #74545E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 726px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu5203
{
	width: 0.01px;
	margin-left: -100px;
}

#u5203
{
	z-index: 18;
	min-height: 452px;
	padding-bottom: 274px;
	background: transparent url("../images/newuno_5vpullups_testboard1.png") no-repeat center center;
	background-size: cover;
}

#u5203_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u5204
{
	z-index: 19;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u5205
{
	z-index: 20;
	width: 409px;
	height: 104px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 406px;
	-pie-background: rgba(27,20,100,0.67);
}

#u5203-bw
{
	z-index: 18;
	min-height: 452px;
}

#u5206-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
}

#pu5207
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -726px;
	padding: 30px 1120px 61px 100px;
}

#u5207
{
	z-index: 25;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u5207-bw
{
	z-index: 25;
}

#u5208
{
	z-index: 26;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u5208
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u5209-4
{
	z-index: 27;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu5210
{
	z-index: 31;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u5232
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5235
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5235:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u5238-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5235:hover #u5238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5235:active #u5238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5235.MuseMenuActive #u5238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5235:hover #u5238-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5235:active #u5238-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5253
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u5254
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5254:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u5256-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5254:hover #u5256-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5254:active #u5256-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5254.MuseMenuActive #u5256-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5254:hover #u5256-5 p,#u5254:hover #u5256-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u5254:active #u5256-5 p,#u5254:active #u5256-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5239
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u5240
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5240:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u5243-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5240:hover #u5243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5240:active #u5243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5240.MuseMenuActive #u5243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5240:hover #u5243-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5240:active #u5243-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5218
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u5219
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5219:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5220-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5219:hover #u5220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5219:active #u5220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5219.MuseMenuActive #u5220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5219:hover #u5220-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5219:active #u5220-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5225
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u5228
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5228:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u5230-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5228:hover #u5230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5228:active #u5230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5228.MuseMenuActive #u5230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5228:hover #u5230-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5228:active #u5230-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5211
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u5212
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5212:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u5213-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5212:hover #u5213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5212:active #u5213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5212.MuseMenuActive #u5213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5212:hover #u5213-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5212:active #u5213-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5235.MuseMenuActive #u5238-4 p,#u5254.MuseMenuActive #u5256-5 p,#u5254.MuseMenuActive #u5256-5 span,#u5240.MuseMenuActive #u5243-4 p,#u5219.MuseMenuActive #u5220-4 p,#u5228.MuseMenuActive #u5230-4 p,#u5212.MuseMenuActive #u5213-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu5260-10
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 17px;
}

#u5260-10
{
	z-index: 3;
	width: 980px;
	min-height: 352px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5261
{
	z-index: 13;
	width: 980px;
	height: 527px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 1px;
	background: transparent url("../images/adm-cropped.jpg") no-repeat right center;
	background-size: cover;
}

#u5262-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-left: 21px;
	margin-top: 12px;
	position: relative;
}

#u5202
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u5202-bw
{
	z-index: 2;
	margin-top: 90px;
	height: 215px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

