.version.mission_objective /* version checker */
{
	color: #0000FB;
	background-color: #542295;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1594px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u3576
{
	z-index: 28;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u3576-bw
{
	z-index: 28;
}

#pu947
{
	width: 0.01px;
	margin-left: -100px;
}

#u947
{
	z-index: 3;
	min-height: 449px;
	padding-bottom: 277px;
	background: transparent url("../images/20160610_161053.jpg") no-repeat center center;
	background-size: cover;
}

#u962
{
	z-index: 9;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u4302
{
	z-index: 4;
	width: 245px;
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 492px;
	-pie-background: rgba(27,20,100,0.67);
}

#u947-bw
{
	z-index: 3;
	min-height: 449px;
}

#u950-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 132px;
}

#pu3577
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -100px;
	margin-top: -725px;
}

#u3577
{
	z-index: 29;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u3577
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u3578-4
{
	z-index: 30;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 28px;
	font-size: 23px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -506px;
}

#menuu3579
{
	z-index: 34;
	width: 695px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u3594
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3597
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3600-4
{
	width: 94px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3597:hover #u3600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3597:active #u3600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3597.MuseMenuActive #u3600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3597:hover #u3600-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3597:active #u3600-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3636
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u3637
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3637.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3639-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3637:hover #u3639-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3637:active #u3639-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3637.MuseMenuActive #u3639-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3637:hover #u3639-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3637:active #u3639-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3641
{
	width: 77px;
	background-color: transparent;
	top: 35px;
}

#u3642
{
	width: 77px;
	background-color: #1B1464;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u3642:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u3644
{
	width: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3644:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3647
{
	height: 18px;
	width: 72px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
	background: url("../images/u3647.png") no-repeat 0px 0px;
}

#u3644:hover #u3647
{
	background: url("../images/u3647-r.png") no-repeat 0px 0px;
}

.hidpi #u3647
{
	background-image: url("../images/u3647_2x.png");
	background-size: 72px 18px;
}

.hidpi #u3644:hover #u3647
{
	background-image: url("../images/u3647-r_2x.png");
	background-size: 70px 18px;
}

#u3651
{
	width: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3654
{
	height: 18px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
	background: url("../images/u3654.png") no-repeat 0px 0px;
}

#u3651:hover #u3654
{
	background: url("../images/u3654-r.png") no-repeat 0px 0px;
}

.hidpi #u3654
{
	background-image: url("../images/u3654_2x.png");
	background-size: 57px 18px;
}

.hidpi #u3651:hover #u3654
{
	background-image: url("../images/u3654-r_2x.png");
	background-size: 59px 18px;
}

#u3643,#u3650,#u3657
{
	width: 77px;
	background-color: transparent;
	position: relative;
}

#u3658
{
	width: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3659
{
	height: 18px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
	background: url("../images/u3659.png") no-repeat 0px 0px;
}

#u3658:hover #u3659
{
	background: url("../images/u3659-r.png") no-repeat 0px 0px;
}

.hidpi #u3659
{
	background-image: url("../images/u3659_2x.png");
	background-size: 59px 18px;
}

.hidpi #u3658:hover #u3659
{
	background-image: url("../images/u3659-r_2x.png");
	background-size: 57px 18px;
}

#u3601
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u3618
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3618:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3621-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3618:hover #u3621-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3618:active #u3621-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3618.MuseMenuActive #u3621-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3618:hover #u3621-5 p,#u3618:hover #u3621-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u3618:active #u3621-5 p,#u3618:active #u3621-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3602
{
	width: 114px;
	background-color: transparent;
	top: 35px;
}

#u3603
{
	width: 114px;
	background-color: #1B1464;
	border-radius: 10px;
	position: relative;
}

#u3603:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3603:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3607
{
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3608
{
	height: 18px;
	width: 110px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
	background: url("../images/u3608.png") no-repeat 0px 0px;
}

#u3607:hover #u3608
{
	background: url("../images/u3608-r.png") no-repeat 0px 0px;
}

#u3607:active #u3608
{
	background: url("../images/u3608-m.png") no-repeat 0px 0px;
}

.hidpi #u3608
{
	background-image: url("../images/u3608_2x.png");
	background-size: 110px 18px;
}

.hidpi #u3607:hover #u3608
{
	background-image: url("../images/u3608-r_2x.png");
	background-size: 110px 18px;
}

.hidpi #u3607:active #u3608
{
	background-image: url("../images/u3608-m_2x.png");
	background-size: 110px 18px;
}

#u3604,#u3611
{
	width: 114px;
	background-color: transparent;
	position: relative;
}

#u3612
{
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3607:hover,#u3612:hover
{
	border-radius: 10px 10px 0px 0px ;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3612:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3613
{
	height: 18px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 20px;
	background: url("../images/u3613.png") no-repeat 0px 0px;
}

#u3612:hover #u3613
{
	background: url("../images/u3613-r.png") no-repeat 0px 0px;
}

#u3612:active #u3613
{
	background: url("../images/u3613-m.png") no-repeat 0px 0px;
}

.hidpi #u3613
{
	background-image: url("../images/u3613_2x.png");
	background-size: 75px 18px;
}

.hidpi #u3612:hover #u3613
{
	background-image: url("../images/u3613-r_2x.png");
	background-size: 67px 18px;
}

.hidpi #u3612:active #u3613
{
	background-image: url("../images/u3613-m_2x.png");
	background-size: 71px 18px;
}

#u3629
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u3632
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3632:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3635-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3632:hover #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3632:active #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3632.MuseMenuActive #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3632:hover #u3635-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3632:active #u3635-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3587
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u3590
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3590:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u3593-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3590:hover #u3593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3590:active #u3593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3590.MuseMenuActive #u3593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3590:hover #u3593-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3590:active #u3593-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3580
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u3583
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3597:hover,#u3583:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3584-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3583:hover #u3584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3583:active #u3584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3583.MuseMenuActive #u3584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3583:hover #u3584-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3583:active #u3584-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3622
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u3625
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3625:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3626-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3625:hover #u3626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3625:active #u3626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3625.MuseMenuActive #u3626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3625:hover #u3626-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3625:active #u3626-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3597.MuseMenuActive #u3600-4 p,#u3637.MuseMenuActive #u3639-4 p,#u3618.MuseMenuActive #u3621-5 p,#u3618.MuseMenuActive #u3621-5 span,#u3632.MuseMenuActive #u3635-4 p,#u3590.MuseMenuActive #u3593-4 p,#u3583.MuseMenuActive #u3584-4 p,#u3625.MuseMenuActive #u3626-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1917
{
	width: 0.01px;
	margin-top: 142px;
}

#u1917
{
	z-index: 10;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
}

#u1918-4
{
	z-index: 11;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1923
{
	z-index: 22;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u1924-4
{
	z-index: 23;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1919
{
	z-index: 15;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #2E3192;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 710px;
}

#u1917:hover,#u1923:hover,#u1919:hover
{
	background-color: #1B1464;
	width: 310px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1921-4
{
	z-index: 17;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1918-4_img,#u1924-4_img,#u1921-4_img
{
	display: block;
	vertical-align: top;
}

#pu1920
{
	width: 0.01px;
	margin-top: -1px;
}

#u1920
{
	z-index: 16;
	width: 273px;
	height: 310px;
	border-radius: 0px 0px 10px 10px ;
	-webkit-transform: matrix(0,1,-1,0,292,19);
	-ms-transform: matrix(0,1,-1,0,292,19);
	transform: matrix(0,1,-1,0,292,19);
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	margin-top: -19px;
	left: 19px;
	background: #FFFFFF url("../images/20160907_123328-ieu1920-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/20160907_123328.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u1920
{
	background-image: url("../images/20160907_123328_2x.jpg");
}

#u1925
{
	z-index: 27;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 355px;
	background: #FFFFFF url("../images/img_6719-ieu1925-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/img_6719.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u1925
{
	background-image: url("../images/img_6719_2x.jpg");
}

#u1922
{
	z-index: 21;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 710px;
	background: #FFFFFF url("../images/20151120_151950-ieu1922-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/20151120_151950.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u1922
{
	background-image: url("../images/20151120_151950_2x.jpg");
}

#u956
{
	z-index: 2;
	min-height: 215px;
	background-color: #1B1464;
}

#u947_align_to_page,#u956_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u972-4
{
	z-index: 109;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 757px;
}

#u956-bw
{
	z-index: 2;
	min-height: 215px;
	margin-top: 156px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

