.version.mission_objective /* version checker */
{
	color: #0000F4;
	background-color: #CD4C37;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1594px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u6808
{
	z-index: 3;
	width: 94px;
	height: 90px;
	top: 1px;
	left: 50%;
	margin-left: -610px;
}

#u6807
{
	z-index: 2;
	height: 76px;
	top: 0px;
}

#u6807-bw
{
	z-index: 2;
}

#pu947
{
	width: 0.01px;
	margin-left: -100px;
}

#u947
{
	z-index: 47;
	min-height: 449px;
	padding-bottom: 277px;
	background: transparent url("../images/20160610_161053.jpg") no-repeat center center;
	background-size: cover;
}

#u962
{
	z-index: 53;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u4302
{
	z-index: 48;
	width: 245px;
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 487px;
	-pie-background: rgba(27,20,100,0.67);
}

#u947-bw
{
	z-index: 47;
	min-height: 449px;
}

#u950-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 132px;
}

#pu3576
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -726px;
	padding: 30px 1120px 61px 100px;
}

#u3576
{
	z-index: 72;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u3576-bw
{
	z-index: 72;
}

#u3577
{
	z-index: 73;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u3577
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u6809-4
{
	z-index: 4;
	width: 329px;
	min-height: 28px;
	top: 10px;
	left: 50%;
	margin-left: -512px;
}

#u6809-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 329px;
	margin: 0px 0px 0px -512px;
}

#u3578-4
{
	z-index: 74;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -506px;
}

#menuu3579
{
	z-index: 78;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u3594
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3597
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3597:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u3600-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3597:hover #u3600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3597:active #u3600-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3597:hover #u3600-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3597:active #u3600-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3601
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u3618
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3618:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3621-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3618:hover #u3621-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3618:active #u3621-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3618:hover #u3621-5 p,#u3618:hover #u3621-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u3618:active #u3621-5 p,#u3618:active #u3621-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3629
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u3632
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3632:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3635-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3632:hover #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3632:active #u3635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3632:hover #u3635-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3632:active #u3635-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3587
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u3590
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3590:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u3593-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3590:hover #u3593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3590:active #u3593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3590:hover #u3593-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3590:active #u3593-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3580
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u3583
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3583:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3584-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3583:hover #u3584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3583:active #u3584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3583:hover #u3584-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3583:active #u3584-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3622
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u3625
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3625:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3626-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3625:hover #u3626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3625:active #u3626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3625:hover #u3626-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3625:active #u3626-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3597.MuseMenuActive #u3600-4 p,#u3618.MuseMenuActive #u3621-5 p,#u3618.MuseMenuActive #u3621-5 span,#u3632.MuseMenuActive #u3635-4 p,#u3590.MuseMenuActive #u3593-4 p,#u3583.MuseMenuActive #u3584-4 p,#u3625.MuseMenuActive #u3626-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu6810
{
	z-index: 8;
	width: 596px;
	top: 20px;
	left: 50%;
	margin-left: 0px;
}

#u6825
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6826
{
	width: 98px;
	padding-bottom: 16px;
}

#u6826:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6826.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6827-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3597.MuseMenuActive #u3600-4,#u6826:hover #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826:active #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826.MuseMenuActive #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6832
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6833
{
	width: 114px;
	padding-bottom: 16px;
}

#u6833:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6833.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6836-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3618.MuseMenuActive #u3621-5,#u6833:hover #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833:active #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833.MuseMenuActive #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6818
{
	width: 82px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6821
{
	width: 82px;
	padding-bottom: 16px;
}

#u6821:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6821.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6822-4
{
	width: 54px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3632.MuseMenuActive #u3635-4,#u6821:hover #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821:active #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821.MuseMenuActive #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6811
{
	width: 88px;
	min-height: 35px;
	margin-right: -10000px;
	left: 300px;
}

#u6812
{
	width: 88px;
	padding-bottom: 16px;
}

#u6812:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6812.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6815-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3590.MuseMenuActive #u3593-4,#u6812:hover #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812:active #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812.MuseMenuActive #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6846
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 390px;
}

#u6849
{
	width: 123px;
	padding-bottom: 16px;
}

#u6849:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6849.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6851-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3583.MuseMenuActive #u3584-4,#u6849:hover #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849:active #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849.MuseMenuActive #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6839
{
	width: 81px;
	min-height: 35px;
	margin-right: -10000px;
	left: 515px;
}

#u6840
{
	width: 81px;
	padding-bottom: 16px;
}

#u6840:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6840.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6843-4
{
	width: 53px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3625.MuseMenuActive #u3626-4,#u6840:hover #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840:active #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840.MuseMenuActive #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#pu1917
{
	width: 0.01px;
	margin-top: 142px;
}

#u1917
{
	z-index: 54;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
}

#u1918-4
{
	z-index: 55;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1923
{
	z-index: 66;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u1924-4
{
	z-index: 67;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1919
{
	z-index: 59;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #2E3192;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 710px;
}

#u1917:hover,#u1923:hover,#u1919:hover
{
	background-color: #1B1464;
	width: 310px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1921-4
{
	z-index: 61;
	position: relative;
	width: 310px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1918-4_img,#u1924-4_img,#u1921-4_img
{
	display: block;
	vertical-align: top;
}

#pu1920
{
	width: 0.01px;
	margin-top: -1px;
}

#u1920
{
	z-index: 60;
	width: 273px;
	height: 310px;
	border-radius: 0px 10px 10px 0px ;
	-webkit-transform: matrix(0,1,-1,0,292,19);
	-ms-transform: matrix(0,1,-1,0,292,19);
	transform: matrix(0,1,-1,0,292,19);
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	margin-top: -19px;
	left: 19px;
	background: #FFFFFF url("../images/20160907_123328-ieu1920-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/20160907_123328.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u1920
{
	background-image: url("../images/20160907_123328_2x.jpg");
}

#u1925
{
	z-index: 71;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 355px;
	background: #FFFFFF url("../images/img_6719-ieu1925-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/img_6719.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u1925
{
	background-image: url("../images/img_6719_2x.jpg");
}

#u1922
{
	z-index: 65;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 710px;
	background: #FFFFFF url("../images/20151120_151950-ieu1922-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/20151120_151950.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u1922
{
	background-image: url("../images/20151120_151950_2x.jpg");
}

#u956
{
	z-index: 46;
	min-height: 215px;
	background-color: #1B1464;
}

#u947_align_to_page,#u956_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u972-4
{
	z-index: 116;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 757px;
}

#u956-bw
{
	z-index: 46;
	min-height: 215px;
	margin-top: 156px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

