.version.payload /* version checker */
{
	color: #0000ED;
	background-color: #E47F8B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 726px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u5140
{
	z-index: 58;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u5140-bw
{
	z-index: 58;
}

#u5136
{
	z-index: 51;
	min-height: 452px;
	padding-bottom: 274px;
	background: transparent url("../images/20151202_102314.jpg") no-repeat center center;
	background-size: cover;
}

#u5136_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u5137
{
	z-index: 52;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u5138
{
	z-index: 53;
	width: 654px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 282px;
	-pie-background: rgba(27,20,100,0.67);
}

#u5139-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	margin-bottom: -30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: -283px;
}

#u5136-bw
{
	z-index: 51;
	min-height: 452px;
}

#pu5141
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -100px;
	margin-top: -725px;
}

#u5141
{
	z-index: 59;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u5141
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u5142-4
{
	z-index: 60;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu5143
{
	z-index: 64;
	width: 589px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u5165
{
	width: 91px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5168
{
	width: 91px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5168:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u5171-4
{
	width: 62px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5168:hover #u5171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u5168:active #u5171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u5168.MuseMenuActive #u5171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u5168:hover #u5171-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5168:active #u5171-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5186
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u5187
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5187:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u5189-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5187:hover #u5189-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5187:active #u5189-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5187.MuseMenuActive #u5189-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5187:hover #u5189-5 p,#u5187:hover #u5189-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u5187:active #u5189-5 p,#u5187:active #u5189-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5172
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 209px;
}

#u5173
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5173:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u5176-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5173:hover #u5176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5173:active #u5176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5173.MuseMenuActive #u5176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5173:hover #u5176-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5173:active #u5176-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5151
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u5152
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5152:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5153-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5152:hover #u5153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5152:active #u5153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5152.MuseMenuActive #u5153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5152:hover #u5153-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5152:active #u5153-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5158
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 383px;
}

#u5161
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5161:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u5163-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5161:hover #u5163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5161:active #u5163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5161.MuseMenuActive #u5163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5161:hover #u5163-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5161:active #u5163-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5144
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u5145
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5145:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u5146-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5145:hover #u5146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5145:active #u5146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5145.MuseMenuActive #u5146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5145:hover #u5146-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5145:active #u5146-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5168.MuseMenuActive #u5171-4 p,#u5187.MuseMenuActive #u5189-5 p,#u5187.MuseMenuActive #u5189-5 span,#u5173.MuseMenuActive #u5176-4 p,#u5152.MuseMenuActive #u5153-4 p,#u5161.MuseMenuActive #u5163-4 p,#u5145.MuseMenuActive #u5146-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5193-48
{
	z-index: 3;
	width: 980px;
	min-height: 352px;
	background-color: transparent;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u5193-5,#u5193-6
{
	font-size: 22px;
	text-transform: uppercase;
	line-height: 26px;
}

#u5193-39
{
	font-size: 22px;
	line-height: 26px;
}

#u5193-2,#u5193-3,#u5193-8,#u5193-9,#u5193-11,#u5193-12,#u5193-14,#u5193-16,#u5193-18,#u5193-20,#u5193-22,#u5193-23,#u5193-25,#u5193-27,#u5193-29,#u5193-31,#u5193-33,#u5193-35,#u5193-37,#u5193-40,#u5193-42,#u5193-43,#u5193-45,#u5193-46
{
	font-size: 16px;
	line-height: 19px;
}

#u5135
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u5135-bw
{
	z-index: 2;
	margin-top: 44px;
	height: 215px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

