.version.phyast /* version checker */
{
	color: #000011;
	background-color: #62170F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 726px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u6070
{
	z-index: 10;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u6070-bw
{
	z-index: 10;
}

#u6066
{
	z-index: 3;
	min-height: 702px;
	background: transparent url("../images/20150922_180611.jpg") no-repeat center center;
	background-size: cover;
}

#u6066_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 146px;
	padding-bottom: 219px;
}

#u6067
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 65px;
	position: relative;
}

#u6068
{
	z-index: 5;
	width: 777px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	left: 218px;
	margin-top: 111px;
	position: relative;
	-pie-background: rgba(27,20,100,0.67);
}

#u6069-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-bottom: -17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: -99px;
}

#u6066-bw
{
	z-index: 3;
	min-height: 702px;
}

#pu6071
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -100px;
	margin-top: -701px;
}

#u6071
{
	z-index: 11;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u6071
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u6072-4
{
	z-index: 12;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu6073
{
	z-index: 16;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u6109
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6110
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6110:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6112-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6110:hover #u6112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6110:active #u6112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6110.MuseMenuActive #u6112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6110:hover #u6112-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6110:active #u6112-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6095
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u6096
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6096:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6098-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6096:hover #u6098-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6096:active #u6098-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6096.MuseMenuActive #u6098-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6096:hover #u6098-5 p,#u6096:hover #u6098-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u6096:active #u6098-5 p,#u6096:active #u6098-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6116
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u6117
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6117:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6119-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6117:hover #u6119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6117:active #u6119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6117.MuseMenuActive #u6119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6117:hover #u6119-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6117:active #u6119-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6081
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u6084
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6084:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6086-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6084:hover #u6086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6084:active #u6086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6084.MuseMenuActive #u6086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6084:hover #u6086-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6084:active #u6086-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6088
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u6089
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6089:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6092-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6089:hover #u6092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6089:active #u6092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6089.MuseMenuActive #u6092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6089:hover #u6092-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6089:active #u6092-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6074
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u6075
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6075:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6076-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6075:hover #u6076-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6075:active #u6076-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6075.MuseMenuActive #u6076-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6075:hover #u6076-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6075:active #u6076-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6110.MuseMenuActive #u6112-4 p,#u6096.MuseMenuActive #u6098-5 p,#u6096.MuseMenuActive #u6098-5 span,#u6117.MuseMenuActive #u6119-4 p,#u6084.MuseMenuActive #u6086-4 p,#u6089.MuseMenuActive #u6092-4 p,#u6075.MuseMenuActive #u6076-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu6065
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 41px;
}

#u6065
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u6065-bw
{
	z-index: 2;
	margin-top: 207px;
	height: 215px;
}

#u6123-4
{
	z-index: 54;
	width: 980px;
	min-height: 352px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

