.version.publications /* version checker */
{
	color: #0000FA;
	background-color: #7751ED;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1593.832636990428px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u6808
{
	z-index: 3;
	width: 94px;
	height: 90px;
	top: 1px;
	left: 50%;
	margin-left: -610px;
}

#pu5860
{
	width: 0.01px;
	margin-left: -100px;
}

#u5860
{
	z-index: 88;
	min-height: 440px;
	padding-bottom: 286px;
	background: transparent url("../images/20160223_172338.jpg") no-repeat center center;
	background-size: cover;
}

#u5860_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u5863
{
	z-index: 94;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 64px;
}

#u5861
{
	z-index: 89;
	width: 412px;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 404px;
	-pie-background: rgba(27,20,100,0.67);
}

#u5860-bw
{
	z-index: 88;
	min-height: 440px;
}

#u5862-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
}

#pu5864
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -726px;
	padding: 30px 1120px 61px 100px;
}

#u5864
{
	z-index: 95;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u5864-bw
{
	z-index: 95;
}

#u6807
{
	z-index: 2;
	height: 76px;
	top: 0px;
}

#u6807-bw
{
	z-index: 2;
}

#u5865
{
	z-index: 96;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u5865
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u6809-4
{
	z-index: 4;
	width: 329px;
	min-height: 28px;
	top: 10px;
	left: 50%;
	margin-left: -512px;
}

#u6809-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 329px;
	margin: 0px 0px 0px -512px;
}

#u5866-4
{
	z-index: 97;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -510px;
}

#menuu5867
{
	z-index: 101;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u5903
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5906
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5906:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u5909-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5906:hover #u5909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5906:active #u5909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5906:hover #u5909-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5906:active #u5909-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5868
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u5869
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5869:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u5870-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5869:hover #u5870-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5869:active #u5870-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5869:hover #u5870-5 p,#u5869:hover #u5870-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u5869:active #u5870-5 p,#u5869:active #u5870-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5910
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u5913
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5913:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u5915-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5913:hover #u5915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5913:active #u5915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5913:hover #u5915-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5913:active #u5915-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5889
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u5890
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5890:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5891-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5890:hover #u5891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5890:active #u5891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5890:hover #u5891-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5890:active #u5891-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5882
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u5885
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5885.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u5886-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5885:hover #u5886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5885:active #u5886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5885:hover #u5886-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5885:active #u5886-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5875
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u5876
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5876:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u5878-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5876:hover #u5878-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5876:active #u5878-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5876:hover #u5878-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5876:active #u5878-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5906.MuseMenuActive #u5909-4 p,#u5869.MuseMenuActive #u5870-5 p,#u5869.MuseMenuActive #u5870-5 span,#u5913.MuseMenuActive #u5915-4 p,#u5890.MuseMenuActive #u5891-4 p,#u5885.MuseMenuActive #u5886-4 p,#u5876.MuseMenuActive #u5878-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu6810
{
	z-index: 8;
	width: 596px;
	top: 20px;
	left: 50%;
	margin-left: 0px;
}

#u6825
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6826
{
	width: 98px;
	padding-bottom: 16px;
}

#u6826:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6826.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6827-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5906.MuseMenuActive #u5909-4,#u6826:hover #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826:active #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826.MuseMenuActive #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6832
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6833
{
	width: 114px;
	padding-bottom: 16px;
}

#u6833:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6833.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6836-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5869.MuseMenuActive #u5870-5,#u6833:hover #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833:active #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833.MuseMenuActive #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6818
{
	width: 82px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6821
{
	width: 82px;
	padding-bottom: 16px;
}

#u6821:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6821.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6822-4
{
	width: 54px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5913.MuseMenuActive #u5915-4,#u6821:hover #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821:active #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821.MuseMenuActive #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6811
{
	width: 88px;
	min-height: 35px;
	margin-right: -10000px;
	left: 300px;
}

#u6812
{
	width: 88px;
	padding-bottom: 16px;
}

#u6812:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6812.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6815-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5890.MuseMenuActive #u5891-4,#u6812:hover #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812:active #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812.MuseMenuActive #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6846
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 390px;
}

#u6849
{
	width: 123px;
	padding-bottom: 16px;
}

#u6849:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6849.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6851-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5885.MuseMenuActive #u5886-4,#u6849:hover #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849:active #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849.MuseMenuActive #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6839
{
	width: 81px;
	min-height: 35px;
	margin-right: -10000px;
	left: 515px;
}

#u6840
{
	width: 81px;
	padding-bottom: 16px;
}

#u6840:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6840.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6843-4
{
	width: 53px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5876.MuseMenuActive #u5878-4,#u6840:hover #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840:active #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840.MuseMenuActive #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6755-12
{
	z-index: 60;
	width: 980px;
	min-height: 111px;
	background-color: transparent;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#u6167-13
{
	z-index: 47;
	width: 980px;
	min-height: 116px;
	background-color: transparent;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 99px;
	position: relative;
}

#u6755-10,#u6167-8,#u6167-10,#u6167-11
{
	font-size: 14px;
}

#u6756-16
{
	z-index: 72;
	width: 980px;
	min-height: 122px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 99px;
	position: relative;
}

#u6756-5
{
	font-size: 14px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6756-2
{
	font-size: 15px;
	vertical-align: 7px;
	line-height: 0px;
}

#u6755-4,#u6167-3,#u6167-4,#u6756,#u6756-3
{
	font-size: 22px;
	line-height: 26px;
}

#u6756-8,#u6756-11
{
	font-size: 14px;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u6756-6,#u6756-9,#u6756-12,#u6756-13
{
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u1620
{
	z-index: 46;
	height: 259px;
	background-color: #1B1464;
}

#u1620-bw
{
	z-index: 46;
	margin-top: 98px;
	height: 259px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

