.version.publicity /* version checker */
{
	color: #000018;
	background-color: #633D1B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 449px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 348px;
	margin-left: auto;
	margin-right: auto;
}

#u1734,#u1734-bw
{
	z-index: 2;
	height: 449px;
}

#pu1736
{
	width: 0.01px;
	padding-bottom: 89px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u1736
{
	z-index: 3;
	height: 89px;
	top: 0px;
}

#u1736-bw
{
	z-index: 3;
}

#u1738-4
{
	z-index: 4;
	width: 329px;
	min-height: 28px;
	top: 20px;
	left: 50%;
	margin-left: -506px;
}

#menuu1739
{
	z-index: 8;
	width: 742px;
	top: 20px;
	left: 50%;
	margin-left: -132px;
}

#u1796
{
	width: 115px;
	min-height: 35px;
	margin-right: -10000px;
}

#u1797
{
	width: 115px;
	padding-bottom: 16px;
}

#u1797:hover
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u1797.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u1798-4
{
	width: 94px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1797:hover #u1798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1797:active #u1798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1797.MuseMenuActive #u1798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u1740
{
	width: 163px;
	min-height: 35px;
	margin-right: -10000px;
	left: 117px;
}

#u1741
{
	width: 163px;
	padding-bottom: 16px;
}

#u1741:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1741.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1744-4
{
	width: 142px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1741:hover #u1744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1741:active #u1744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1741.MuseMenuActive #u1744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1745
{
	width: 168px;
	top: 35px;
}

#u1805
{
	width: 168px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1807-4
{
	width: 49px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 56px;
}

#u1805:hover #u1807-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u1805.MuseMenuActive #u1807-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u1821
{
	width: 168px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1822-4
{
	width: 45px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 58px;
}

#u1821:hover #u1822-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1821.MuseMenuActive #u1822-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1746,#u1804,#u1818,#u1811
{
	width: 168px;
}

#u1814
{
	width: 168px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1805.MuseMenuActive,#u1821.MuseMenuActive,#u1814.MuseMenuActive
{
	width: 168px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1815-4
{
	width: 46px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 57px;
}

#u1814:hover #u1815-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1814.MuseMenuActive #u1815-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1775
{
	width: 107px;
	min-height: 35px;
	margin-right: -10000px;
	left: 282px;
}

#u1792
{
	width: 107px;
	padding-bottom: 16px;
}

#u1792:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1792.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1794-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1792:hover #u1794-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1792:active #u1794-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1792.MuseMenuActive #u1794-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u1776
{
	width: 108px;
	top: 35px;
}

#u1777
{
	width: 108px;
}

#u1777:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u1777:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u1786
{
	width: 108px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1786:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1786:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1788
{
	height: 17px;
	width: 72px;
	margin-right: -10000px;
	top: 4px;
	left: 18px;
}

#u1785,#u1778
{
	width: 108px;
}

#u1779
{
	width: 108px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1786.MuseMenuActive,#u1779:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1779.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1782
{
	height: 17px;
	width: 51px;
	margin-right: -10000px;
	top: 4px;
	left: 28px;
}

#u1754
{
	width: 75px;
	min-height: 35px;
	margin-right: -10000px;
	left: 391px;
}

#u1757
{
	width: 75px;
	padding-bottom: 16px;
}

#u1757:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1757.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1759-4
{
	width: 54px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1757:hover #u1759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1757:active #u1759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1757.MuseMenuActive #u1759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1761
{
	width: 81px;
	min-height: 35px;
	margin-right: -10000px;
	left: 468px;
}

#u1762
{
	width: 81px;
	padding-bottom: 16px;
}

#u1762:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u1762.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u1765-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1762:hover #u1765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1762:active #u1765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1762.MuseMenuActive #u1765-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1747
{
	width: 116px;
	min-height: 35px;
	margin-right: -10000px;
	left: 551px;
}

#u1750
{
	width: 116px;
	padding-bottom: 16px;
}

#u1750:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1750.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1753-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1750:hover #u1753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u1750:active #u1753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u1750.MuseMenuActive #u1753-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u1768
{
	width: 73px;
	min-height: 35px;
	margin-right: -10000px;
	left: 669px;
}

#u1769
{
	width: 73px;
	padding-bottom: 16px;
}

#u1769:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1769.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1770-4
{
	width: 53px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u1769:hover #u1770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1769:active #u1770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1769.MuseMenuActive #u1770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

