.version.publications /* version checker */
{
	color: #0000E2;
	background-color: #3C042B;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 940px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u3487
{
	z-index: 23;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u3487-bw
{
	z-index: 23;
}

#pu1979
{
	width: 0.01px;
	margin-left: -100px;
}

#u1979
{
	z-index: 3;
	min-height: 410px;
	padding-bottom: 316px;
	background: transparent url("../images/20160223_172327.jpg") no-repeat center center;
	background-size: cover;
}

#u1626
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u4304
{
	z-index: 18;
	width: 422px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 400px;
	-pie-background: rgba(27,20,100,0.67);
}

#u1979-bw
{
	z-index: 3;
	min-height: 410px;
}

#u4289-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
}

#u4289-4-bw
{
	z-index: 19;
	margin-top: 351px;
}

#pu3488
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -99px;
	margin-top: -725px;
}

#u3488
{
	z-index: 24;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -609px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u3488
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u3489-4
{
	z-index: 25;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -507px;
}

#menuu3490
{
	z-index: 29;
	width: 695px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -117px;
}

#u3505
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3508
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3508:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3511-4
{
	width: 94px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3508:hover #u3511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3508:active #u3511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3508.MuseMenuActive #u3511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3508:hover #u3511-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3508:active #u3511-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3547
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u3548
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3548:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3550-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3548:hover #u3550-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3548:active #u3550-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3548.MuseMenuActive #u3550-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u3548:hover #u3550-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3548:active #u3550-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3512
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u3529
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3529:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u3532-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3529:hover #u3532-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3529:active #u3532-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3529.MuseMenuActive #u3532-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3529:hover #u3532-5 p,#u3529:hover #u3532-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u3529:active #u3532-5 p,#u3529:active #u3532-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3540
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u3543
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3543:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3546-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3543:hover #u3546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3543:active #u3546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3543.MuseMenuActive #u3546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u3543:hover #u3546-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3543:active #u3546-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3498
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u3501
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3501:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u3504-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3501:hover #u3504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3501:active #u3504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3501.MuseMenuActive #u3504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3501:hover #u3504-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3501:active #u3504-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3491
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u3494
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3494.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3495-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3494:hover #u3495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3494:active #u3495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3494.MuseMenuActive #u3495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3494:hover #u3495-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3494:active #u3495-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3533
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u3536
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u3536:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3537-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u3536:hover #u3537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3536:active #u3537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3536.MuseMenuActive #u3537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u3536:hover #u3537-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u3536:active #u3537-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u3508.MuseMenuActive #u3511-4 p,#u3548.MuseMenuActive #u3550-4 p,#u3529.MuseMenuActive #u3532-5 p,#u3529.MuseMenuActive #u3532-5 span,#u3543.MuseMenuActive #u3546-4 p,#u3501.MuseMenuActive #u3504-4 p,#u3494.MuseMenuActive #u3495-4 p,#u3536.MuseMenuActive #u3537-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1992-9
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u1620
{
	z-index: 2;
	min-height: 215px;
	background-color: #1B1464;
}

#u1979_align_to_page,#u1620_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u1698-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 774px;
}

#u1620-bw
{
	z-index: 2;
	min-height: 215px;
	margin-top: 496px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

