.version.publications /* version checker */
{
	color: #000007;
	background-color: #4A19E0;
}

.html
{
	background: #F0F0F0 url("../images/pattern-89ds.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 940px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u5864
{
	z-index: 43;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u5864-bw
{
	z-index: 43;
}

#pu5860
{
	width: 0.01px;
	margin-left: -100px;
}

#u5860
{
	z-index: 36;
	min-height: 440px;
	padding-bottom: 286px;
	background: transparent url("../images/20160223_172338.jpg") no-repeat center center;
	background-size: cover;
}

#u5863
{
	z-index: 42;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 64px;
}

#u5861
{
	z-index: 37;
	width: 415px;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 403px;
	-pie-background: rgba(27,20,100,0.67);
}

#u5860-bw
{
	z-index: 36;
	min-height: 440px;
}

#u5862-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 100px;
}

#pu5865
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -100px;
	margin-top: -725px;
}

#u5865
{
	z-index: 44;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u5865
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u5866-4
{
	z-index: 45;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -510px;
}

#menuu5867
{
	z-index: 49;
	width: 670px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u5903
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5906
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5906:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u5909-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5906:hover #u5909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5906:active #u5909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5906.MuseMenuActive #u5909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u5906:hover #u5909-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5906:active #u5909-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5896
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u5897
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5897:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u5898-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5897:hover #u5898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u5897:active #u5898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u5897.MuseMenuActive #u5898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u5897:hover #u5898-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5897:active #u5898-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5868
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u5869
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5869:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u5870-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5869:hover #u5870-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5869:active #u5870-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5869.MuseMenuActive #u5870-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5869:hover #u5870-5 p,#u5869:hover #u5870-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u5869:active #u5870-5 p,#u5869:active #u5870-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5910
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u5913
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5913:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u5915-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5913:hover #u5915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5913:active #u5915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5913.MuseMenuActive #u5915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u5913:hover #u5915-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5913:active #u5915-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5889
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#u5890
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5890:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u5891-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5890:hover #u5891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5890:active #u5891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5890.MuseMenuActive #u5891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5890:hover #u5891-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5890:active #u5891-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5882
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u5885
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5885.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u5886-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5885:hover #u5886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5885:active #u5886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5885.MuseMenuActive #u5886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5885:hover #u5886-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5885:active #u5886-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5875
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u5876
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u5876:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u5878-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u5876:hover #u5878-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5876:active #u5878-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5876.MuseMenuActive #u5878-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u5876:hover #u5878-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u5876:active #u5878-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u5906.MuseMenuActive #u5909-4 p,#u5897.MuseMenuActive #u5898-4 p,#u5869.MuseMenuActive #u5870-5 p,#u5869.MuseMenuActive #u5870-5 span,#u5913.MuseMenuActive #u5915-4 p,#u5890.MuseMenuActive #u5891-4 p,#u5885.MuseMenuActive #u5886-4 p,#u5876.MuseMenuActive #u5878-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6167-29
{
	z-index: 3;
	width: 980px;
	min-height: 377px;
	background-color: transparent;
	text-align: center;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 61px;
	position: relative;
}

#u6167-21
{
	font-size: 14px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6167-18
{
	font-size: 15px;
	vertical-align: 7px;
	line-height: 0px;
}

#u6167-3,#u6167-4,#u6167-17,#u6167-19
{
	font-size: 22px;
	line-height: 26px;
}

#u6167-8,#u6167-10,#u6167-12,#u6167-13,#u6167-14,#u6167-15,#u6167-16,#u6167-24,#u6167-27
{
	font-size: 14px;
}

#u1620
{
	z-index: 2;
	min-height: 215px;
	background-color: #1B1464;
}

#u5860_align_to_page,#u1620_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u1698-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 774px;
}

#u1620-bw
{
	z-index: 2;
	min-height: 215px;
	margin-top: 265px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

