.version.subsystems /* version checker */
{
	color: #0000E7;
	background-color: #C330D6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 30px;
	padding-right: 1020px;
	padding-bottom: 696px;
	margin-left: auto;
	margin-right: auto;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

