.version.subsystems /* version checker */
{
	color: #000019;
	background-color: #F6D592;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2910.60763699043px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu4433
{
	width: 0.01px;
	margin-left: -100px;
}

#u4433
{
	z-index: 51;
	min-height: 444px;
	padding-bottom: 282px;
	background: transparent url("../images/_8jb1192_small2.jpg") no-repeat center center;
	background-size: cover;
}

#u4433_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u4434
{
	z-index: 52;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 81px;
}

#u4441
{
	z-index: 53;
	width: 373px;
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 436px;
	-pie-background: rgba(27,20,100,0.67);
}

#u4433-bw
{
	z-index: 51;
	min-height: 444px;
}

#u4442-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 16px;
}

#pu4443
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -726px;
	padding: 30px 1120px 61px 100px;
}

#u4443
{
	z-index: 58;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u4443-bw
{
	z-index: 58;
}

#u4444
{
	z-index: 59;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -594px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u4444
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u4445-4
{
	z-index: 60;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -489px;
}

#menuu4446
{
	z-index: 64;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -102px;
}

#u4475
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4478
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4478:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u4479-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4478:hover #u4479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4478:active #u4479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4478.MuseMenuActive #u4479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4478:hover #u4479-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4478:active #u4479-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4503
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u4504
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4504:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u4507-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4504:hover #u4507-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4504:active #u4507-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4504.MuseMenuActive #u4507-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4504:hover #u4507-5 p,#u4504:hover #u4507-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u4504:active #u4507-5 p,#u4504:active #u4507-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4496
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u4499
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4499:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u4502-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4499:hover #u4502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4499:active #u4502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4499.MuseMenuActive #u4502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4499:hover #u4502-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4499:active #u4502-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4489
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u4492
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4492:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u4494-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4492:hover #u4494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4492:active #u4494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4492.MuseMenuActive #u4494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4492:hover #u4494-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4492:active #u4494-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4482
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u4483
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4483:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4486-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4483:hover #u4486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4483:active #u4486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4483.MuseMenuActive #u4486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4483:hover #u4486-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4483:active #u4486-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4524
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u4527
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4527:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u4529-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4527:hover #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4527:active #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4527.MuseMenuActive #u4529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4527:hover #u4529-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4527:active #u4529-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4478.MuseMenuActive #u4479-4 p,#u4504.MuseMenuActive #u4507-5 p,#u4504.MuseMenuActive #u4507-5 span,#u4499.MuseMenuActive #u4502-4 p,#u4492.MuseMenuActive #u4494-4 p,#u4483.MuseMenuActive #u4486-4 p,#u4527.MuseMenuActive #u4529-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu4435
{
	width: 0.01px;
	margin-left: 128px;
	margin-top: 133px;
}

#u4435
{
	z-index: 3;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
}

#u4436-4
{
	z-index: 4;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u4437
{
	z-index: 8;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#u4439-4
{
	z-index: 10;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#pu4438
{
	width: 0.01px;
	margin-left: 128px;
	margin-top: -1px;
}

#u4438
{
	z-index: 9;
	width: 361px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/amateurfunkantennen-210x157-ieu6722-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/amateurfunkantennen-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u4440
{
	z-index: 14;
	width: 366px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 401px;
	background: #FFFFFF url("../images/2014-12-18-arduinotransmitter-1-210x157-ieu6724-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/2014-12-18-arduinotransmitter-1-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#ppu4532
{
	width: 0.01px;
	margin-left: 128px;
	margin-top: 128px;
}

#pu4532
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u4532
{
	z-index: 15;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
}

#u4533-4
{
	z-index: 16;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u4535
{
	z-index: 21;
	width: 361px;
	height: 303px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: #FFFFFF url("../images/blast-shell-structure-210x157-ieu6728-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/blast-shell-structure-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u4534
{
	z-index: 20;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 61px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#u4536-4
{
	z-index: 22;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u4537
{
	z-index: 26;
	width: 366px;
	height: 303px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 402px;
	background: #FFFFFF url("../images/jonny-breadboading-cropped-210x157-ieu6730-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/jonny-breadboading-cropped-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#pu4538
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 133px;
}

#u4538
{
	z-index: 27;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
}

#u4539-4
{
	z-index: 28;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u4540
{
	z-index: 32;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#u4542-4
{
	z-index: 34;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#pu4541
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: -1px;
}

#u4541
{
	z-index: 33;
	width: 365px;
	height: 273px;
	border-radius: 0px 10px 10px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/ecs1-210x157-ieu6734-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/ecs1-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u4543
{
	z-index: 38;
	width: 366px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 402px;
	background: #FFFFFF url("../images/adm1-210x157-ieu6736-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/adm1-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#ppu4546
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 218px;
}

#pu4546
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 402px;
}

#u4546
{
	z-index: 44;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	position: relative;
}

#u4532:hover,#u4546:hover
{
	background-color: #1B1464;
	width: 366px;
	min-height: 0px;
	margin: 0px;
}

#u4548-4
{
	z-index: 46;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u4549
{
	z-index: 50;
	width: 366px;
	height: 305px;
	border-radius: 0px 0px 10px 10px ;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: #FFFFFF url("../images/acs1-210x157-ieu6742-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/acs1-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u4544
{
	z-index: 39;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 61px;
	position: relative;
	margin-right: -10000px;
}

#u4435:hover,#u4437:hover,#u4534:hover,#u4538:hover,#u4540:hover,#u4544:hover
{
	background-color: #1B1464;
	width: 366px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4545-4
{
	z-index: 40;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u4436-4_img,#u4439-4_img,#u4533-4_img,#u4536-4_img,#u4539-4_img,#u4542-4_img,#u4548-4_img,#u4545-4_img
{
	display: block;
	vertical-align: top;
}

#u4547
{
	z-index: 45;
	width: 308px;
	height: 364px;
	border-radius: 0px 10px 10px 0px ;
	-webkit-transform: matrix(0,1,-1,0,336,28);
	-ms-transform: matrix(0,1,-1,0,336,28);
	transform: matrix(0,1,-1,0,336,28);
	margin-bottom: -28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 29px;
	background: #FFFFFF url("../images/computer-assembled-210x157-ieu6740-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/computer-assembled-210x157.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u4432
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u4432-bw
{
	z-index: 2;
	margin-top: 211px;
	height: 215px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

