.version.suws_ /* version checker */
{
	color: #0000E0;
	background-color: #337103;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 726px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u6000
{
	z-index: 11;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u6000
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u5995
{
	z-index: 3;
	min-height: 726px;
	background: transparent url("../images/20160916_141353.jpg") no-repeat center center;
	background-size: cover;
}

#u5995_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 146px;
	padding-bottom: 219px;
}

#u5996
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 65px;
	position: relative;
}

#u5997
{
	z-index: 5;
	width: 777px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	left: 218px;
	margin-top: 111px;
	position: relative;
	-pie-background: rgba(27,20,100,0.67);
}

#u5998-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -99px;
}

#u5995-bw
{
	z-index: 3;
	min-height: 726px;
}

#pu5999
{
	width: 0.01px;
	padding-bottom: 76px;
	margin-left: -100px;
	margin-top: -726px;
}

#u5999
{
	z-index: 10;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u5999-bw
{
	z-index: 10;
}

#u6001-4
{
	z-index: 12;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu6002
{
	z-index: 16;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u6038
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6039
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6039:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6041-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6039:hover #u6041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6039:active #u6041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6039.MuseMenuActive #u6041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6039:hover #u6041-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6039:active #u6041-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6024
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u6025
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6025:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6027-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6025:hover #u6027-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6025:active #u6027-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6025.MuseMenuActive #u6027-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6025:hover #u6027-5 p,#u6025:hover #u6027-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u6025:active #u6027-5 p,#u6025:active #u6027-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6045
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u6046
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6046:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6048-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6046:hover #u6048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6046:active #u6048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6046.MuseMenuActive #u6048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6046:hover #u6048-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6046:active #u6048-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6010
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u6013
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6013:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6015-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6013:hover #u6015-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6013:active #u6015-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6013.MuseMenuActive #u6015-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6013:hover #u6015-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6013:active #u6015-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6017
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u6018
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6018:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6021-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6018:hover #u6021-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6018:active #u6021-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6018.MuseMenuActive #u6021-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6018:hover #u6021-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6018:active #u6021-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6003
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u6004
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u6004:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6005-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6004:hover #u6005-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6004:active #u6005-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6004.MuseMenuActive #u6005-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6004:hover #u6005-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6004:active #u6005-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6039.MuseMenuActive #u6041-4 p,#u6025.MuseMenuActive #u6027-5 p,#u6025.MuseMenuActive #u6027-5 span,#u6046.MuseMenuActive #u6048-4 p,#u6013.MuseMenuActive #u6015-4 p,#u6018.MuseMenuActive #u6021-4 p,#u6004.MuseMenuActive #u6005-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu5994
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 17px;
}

#u5994
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u5994-bw
{
	z-index: 2;
	margin-top: 207px;
	height: 215px;
}

#u6052-5
{
	z-index: 54;
	width: 980px;
	min-height: 352px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

