.version.systems_overview /* version checker */
{
	color: #0000E2;
	background-color: #C5CD38;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 726px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u4328
{
	z-index: 10;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u4328-bw
{
	z-index: 10;
}

#pu4318
{
	width: 0.01px;
	margin-left: -100px;
}

#u4318
{
	z-index: 3;
	min-height: 452px;
	padding-bottom: 274px;
	background: transparent url("../images/20151202_101558.jpg") no-repeat center center;
	background-size: cover;
}

#u4318_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u4319
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 76px;
}

#u4326
{
	z-index: 5;
	width: 556px;
	height: 104px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 340px;
	-pie-background: rgba(27,20,100,0.67);
}

#u4318-bw
{
	z-index: 3;
	min-height: 452px;
}

#u4327-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 11px;
}

#pu4329
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -89px;
	margin-top: -725px;
}

#u4329
{
	z-index: 11;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -599px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u4329
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u4330-4
{
	z-index: 12;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 28px;
	font-size: 23px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -494px;
}

#menuu4331
{
	z-index: 16;
	width: 695px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -107px;
}

#u4360
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4363
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4364-4
{
	width: 94px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4363:hover #u4364-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u4363:active #u4364-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u4363.MuseMenuActive #u4364-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u4363:hover #u4364-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4363:active #u4364-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4332
{
	width: 72px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u4356
{
	width: 72px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4356:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u4358-4
{
	width: 43px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4356:hover #u4358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4356:active #u4358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4356.MuseMenuActive #u4358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4356:hover #u4358-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4356:active #u4358-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4388
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u4389
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4389:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u4392-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4389:hover #u4392-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4389:active #u4392-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4389.MuseMenuActive #u4392-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4389:hover #u4392-5 p,#u4389:hover #u4392-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u4389:active #u4392-5 p,#u4389:active #u4392-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4381
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u4384
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4384:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u4387-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4384:hover #u4387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4384:active #u4387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4384.MuseMenuActive #u4387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4384:hover #u4387-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4384:active #u4387-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4374
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u4377
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4377:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u4379-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4377:hover #u4379-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4377:active #u4379-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4377.MuseMenuActive #u4379-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4377:hover #u4379-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4377:active #u4379-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4367
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u4368
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4363:hover,#u4368:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4371-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4368:hover #u4371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4368:active #u4371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4368.MuseMenuActive #u4371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4368:hover #u4371-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4368:active #u4371-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4409
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u4412
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4412:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u4414-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4412:hover #u4414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4412:active #u4414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4412.MuseMenuActive #u4414-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4412:hover #u4414-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4412:active #u4414-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4363.MuseMenuActive #u4364-4 p,#u4356.MuseMenuActive #u4358-4 p,#u4389.MuseMenuActive #u4392-5 p,#u4389.MuseMenuActive #u4392-5 span,#u4384.MuseMenuActive #u4387-4 p,#u4377.MuseMenuActive #u4379-4 p,#u4368.MuseMenuActive #u4371-4 p,#u4412.MuseMenuActive #u4414-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu4423-18
{
	width: 0.01px;
	margin-left: 31px;
	margin-top: 17px;
}

#u4423-18
{
	z-index: 60;
	width: 980px;
	min-height: 567px;
	background-color: transparent;
	color: #1B1464;
	line-height: 19px;
	font-size: 16px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u4424
{
	z-index: 78;
	width: 910px;
	height: 1022px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 33px;
	background: transparent url("../images/uos3schem.jpg") no-repeat center center;
	background-size: cover;
}

#u4431-6
{
	z-index: 79;
	width: 351px;
	min-height: 16px;
	background-color: transparent;
	color: #1B1464;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 317px;
	margin-top: 13px;
	position: relative;
}

#u4317
{
	z-index: 2;
	height: 215px;
	background-color: #1B1464;
}

#u4317-bw
{
	z-index: 2;
	margin-top: 54px;
	height: 215px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

