.version.telecommunications /* version checker */
{
	color: #0000EE;
	background-color: #8CCDFB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 725.8076369904361px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u6808
{
	z-index: 3;
	width: 94px;
	height: 90px;
	top: 1px;
	left: 50%;
	margin-left: -610px;
}

#u4819
{
	z-index: 69;
	min-height: 452px;
	padding-bottom: 274px;
	background: transparent url("../images/20160209_130812.jpg") no-repeat center center;
	background-size: cover;
}

#u4819_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u4820
{
	z-index: 70;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u4821
{
	z-index: 71;
	width: 654px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 282px;
	-pie-background: rgba(27,20,100,0.67);
}

#u4822-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-bottom: -30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: -283px;
}

#u4819-bw
{
	z-index: 69;
	min-height: 452px;
}

#pu4823
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -726px;
	padding: 30px 1120px 61px 100px;
}

#u4823
{
	z-index: 76;
	height: 76px;
	background-color: #1B1464;
	position: fixed;
	top: 0px;
}

#u4823-bw
{
	z-index: 76;
}

#u6807
{
	z-index: 2;
	height: 76px;
	top: 0px;
}

#u6807-bw
{
	z-index: 2;
}

#u4824
{
	z-index: 77;
	width: 94px;
	height: 90px;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -610px;
	background: transparent url("../images/uos3.png") no-repeat center center;
}

.hidpi #u4824
{
	background-image: url("../images/uos3_2x.png");
	background-size: 92px 92px;
}

#u6809-4
{
	z-index: 4;
	width: 329px;
	min-height: 28px;
	top: 10px;
	left: 50%;
	margin-left: -512px;
}

#u6809-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 329px;
	margin: 0px 0px 0px -512px;
}

#u4825-4
{
	z-index: 78;
	width: 329px;
	min-height: 28px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 11px;
	left: 50%;
	margin-left: -505px;
}

#menuu4826
{
	z-index: 82;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -118px;
}

#u4841
{
	width: 98px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4844
{
	width: 98px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4844:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u4845-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4844:hover #u4845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4844:active #u4845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4844:hover #u4845-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4844:active #u4845-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4834
{
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u4835
{
	width: 114px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4835:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u4838-5
{
	width: 86px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4835:hover #u4838-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4835:active #u4838-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u4835:hover #u4838-5 p,#u4835:hover #u4838-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u4835:active #u4838-5 p,#u4835:active #u4838-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4869
{
	width: 82px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u4870
{
	width: 82px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4870:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u4872-4
{
	width: 54px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4870:hover #u4872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4870:active #u4872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u4870:hover #u4872-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4870:active #u4872-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4855
{
	width: 88px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u4856
{
	width: 88px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4856:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u4859-4
{
	width: 60px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4856:hover #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4856:active #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4856:hover #u4859-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4856:active #u4859-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4827
{
	width: 123px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u4830
{
	width: 123px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4830:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4833-4
{
	width: 95px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4830:hover #u4833-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4830:active #u4833-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u4830:hover #u4833-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4830:active #u4833-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4862
{
	width: 81px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 515px;
}

#u4863
{
	width: 81px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
}

#u4863:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u4864-4
{
	width: 53px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4863:hover #u4864-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4863:active #u4864-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4863:hover #u4864-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u4863:active #u4864-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u4844.MuseMenuActive #u4845-4 p,#u4835.MuseMenuActive #u4838-5 p,#u4835.MuseMenuActive #u4838-5 span,#u4870.MuseMenuActive #u4872-4 p,#u4856.MuseMenuActive #u4859-4 p,#u4830.MuseMenuActive #u4833-4 p,#u4863.MuseMenuActive #u4864-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu6810
{
	z-index: 8;
	width: 596px;
	top: 20px;
	left: 50%;
	margin-left: 0px;
}

#u6825
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6826
{
	width: 98px;
	padding-bottom: 16px;
}

#u6826:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6826.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6827-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4844.MuseMenuActive #u4845-4,#u6826:hover #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826:active #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6826.MuseMenuActive #u6827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6832
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6833
{
	width: 114px;
	padding-bottom: 16px;
}

#u6833:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6833.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6836-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4835.MuseMenuActive #u4838-5,#u6833:hover #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833:active #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6833.MuseMenuActive #u6836-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6818
{
	width: 82px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6821
{
	width: 82px;
	padding-bottom: 16px;
}

#u6821:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6821.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u6822-4
{
	width: 54px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4870.MuseMenuActive #u4872-4,#u6821:hover #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821:active #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6821.MuseMenuActive #u6822-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u6811
{
	width: 88px;
	min-height: 35px;
	margin-right: -10000px;
	left: 300px;
}

#u6812
{
	width: 88px;
	padding-bottom: 16px;
}

#u6812:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6812.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u6815-4
{
	width: 60px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4856.MuseMenuActive #u4859-4,#u6812:hover #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812:active #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6812.MuseMenuActive #u6815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6846
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 390px;
}

#u6849
{
	width: 123px;
	padding-bottom: 16px;
}

#u6849:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6849.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6851-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4830.MuseMenuActive #u4833-4,#u6849:hover #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849:active #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6849.MuseMenuActive #u6851-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6839
{
	width: 81px;
	min-height: 35px;
	margin-right: -10000px;
	left: 515px;
}

#u6840
{
	width: 81px;
	padding-bottom: 16px;
}

#u6840:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6840.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u6843-4
{
	width: 53px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u4863.MuseMenuActive #u4864-4,#u6840:hover #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840:active #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u6840.MuseMenuActive #u6843-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u4876-17
{
	z-index: 47;
	width: 980px;
	min-height: 352px;
	background-color: transparent;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u4876-2
{
	font-size: 23px;
	line-height: 28px;
}

#u4876-12,#u4876-13
{
	font-size: 26px;
	line-height: 31px;
}

#u4876-3,#u4876-5,#u4876-6,#u4876-8,#u4876-9,#u4876-10,#u4876-15
{
	font-size: 16px;
	line-height: 19px;
}

#u4889
{
	z-index: 64;
	width: 980px;
	height: 527px;
	margin-left: 20px;
	position: relative;
	background: transparent url("../images/sdrwaterfall.jpg") no-repeat left top;
	background-size: cover;
}

#u4896-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u4818
{
	z-index: 46;
	height: 215px;
	background-color: #1B1464;
}

#u4818-bw
{
	z-index: 46;
	margin-top: 90px;
	height: 215px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

