.version.scientific /* version checker */
{
	color: #000000;
	background-color: #5A1B35;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u7122
{
	z-index: 4;
	width: 94px;
	height: 90px;
	margin-bottom: -15px;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#menuu7123
{
	z-index: 5;
	width: 265px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 115px;
}

#u7124
{
	width: 78px;
	min-height: 40px;
	margin-right: -10000px;
}

#u7127
{
	width: 78px;
	padding-bottom: 27px;
}

#u7127:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u7127.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u7128-4
{
	width: 49px;
	min-height: 13px;
	margin-right: -10000px;
	top: 13px;
	left: 14px;
}

#u7127:hover #u7128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u7127:active #u7128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u7127.MuseMenuActive #u7128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u7138
{
	width: 88px;
	min-height: 40px;
	margin-right: -10000px;
	left: 80px;
}

#u7141
{
	width: 88px;
	padding-bottom: 27px;
}

#u7141:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u7141.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u7142-5
{
	width: 60px;
	min-height: 13px;
	margin-right: -10000px;
	top: 13px;
	left: 14px;
}

#u7141:hover #u7142-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7141:active #u7142-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7141.MuseMenuActive #u7142-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7131
{
	width: 95px;
	min-height: 40px;
	margin-right: -10000px;
	left: 170px;
}

#u7132
{
	width: 95px;
	padding-bottom: 27px;
}

#u7132:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u7132.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u7133-4
{
	width: 67px;
	min-height: 13px;
	margin-right: -10000px;
	top: 13px;
	left: 14px;
}

#u7132:hover #u7133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u7132:active #u7133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u7132.MuseMenuActive #u7133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u7121,#u7121-bw
{
	z-index: 3;
	min-height: 76px;
}

#u7120
{
	z-index: 2;
	height: 71px;
}

#u7120-bw
{
	z-index: 2;
	margin-top: 499px;
	height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -499px;
}

