.version.about_us /* version checker */
{
	color: #0000EC;
	background-color: #A2614D;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 3429.975px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#pu6689
{
	width: 0.01px;
	margin-left: -171px;
}

#u6689
{
	z-index: 3;
	min-height: 276px;
	padding-bottom: 185px;
	background: transparent url("../../images/20160209_125526.jpg") no-repeat center center;
	background-size: cover;
}

#u6690
{
	z-index: 4;
	width: 425px;
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6A669A;
	background-color: rgba(27,20,100,0.65);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 161px;
	-pie-background: rgba(27,20,100,0.65);
}

#u6689-bw
{
	z-index: 3;
	min-height: 276px;
	margin-top: 49px;
}

#u6691-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 55px;
}

#u6692
{
	z-index: 9;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
}

#u6618
{
	z-index: 49;
	width: 94px;
	height: 90px;
	margin-bottom: -15px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#menuu6620
{
	z-index: 50;
	width: 339px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 254px;
}

#u6642
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6643
{
	width: 98px;
	padding-bottom: 16px;
}

#u6643:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6643.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6644-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6643:hover #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6643:active #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6643.MuseMenuActive #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6635
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6636
{
	width: 114px;
	padding-bottom: 16px;
}

#u6636:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6636.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6637-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6636:hover #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6636:active #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6636.MuseMenuActive #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6628
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6629
{
	width: 123px;
	padding-bottom: 16px;
}

#u6629:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6629.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6630-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6629:hover #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6629:active #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6629.MuseMenuActive #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6617,#u6617-bw
{
	z-index: 48;
	min-height: 76px;
}

#u6693-8
{
	z-index: 10;
	width: 688px;
	min-height: 167px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #1B1464;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 41px;
	margin-top: 61px;
	position: relative;
}

#u6694
{
	z-index: 18;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	margin-left: 219px;
	margin-top: 61px;
	position: relative;
}

#u6694:hover
{
	background-color: #1B1464;
	width: 310px;
	min-height: 0px;
	margin: 61px 0px 0px 219px;
}

#u6695-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u6697
{
	z-index: 24;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 218px;
	position: relative;
	background: #FFFFFF url("../../images/susf-ieu6697-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/susf.png") no-repeat center center;
	background-color: #FFFFFF;
	background-size: contain;
}

#u6700
{
	z-index: 30;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	margin-left: 218px;
	margin-top: 51px;
	position: relative;
}

#u6700:hover
{
	background-color: #1B1464;
	width: 310px;
	min-height: 0px;
	margin: 51px 0px 0px 218px;
}

#u6701-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u6702
{
	z-index: 35;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 218px;
	position: relative;
	background: #FFFFFF url("../../images/6qsrlc8w_400x400.jpg") no-repeat center center;
}

.hidpi #u6702
{
	background-image: url("../../images/6qsrlc8w_400x400_2x.jpg");
	background-size: 200px 200px;
}

#u6696
{
	z-index: 23;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #2E3192;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 57px;
	margin-left: 218px;
	margin-top: 78px;
	position: relative;
}

#u6698-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u6699
{
	z-index: 29;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 218px;
	position: relative;
	background: #FFFFFF url("../../images/logo%20(1)-ieu6699-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/logo%20(1).jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: contain;
}

#u6706
{
	z-index: 42;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 37px;
	margin-left: 218px;
	margin-top: 78px;
	position: relative;
}

#u6696:hover,#u6706:hover
{
	background-color: #1B1464;
	width: 310px;
	min-height: 0px;
	margin: 78px 0px 0px 218px;
}

#u6707-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
}

#u6708
{
	z-index: 47;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 218px;
	position: relative;
	background: #FFFFFF url("../../images/175_1381334077.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6708
{
	background-image: url("../../images/175_1381334077_2x.png");
}

#u6703
{
	z-index: 36;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 59px;
	margin-left: 219px;
	margin-top: 78px;
	position: relative;
}

#u6703:hover
{
	background-color: #1B1464;
	width: 310px;
	min-height: 0px;
	margin: 78px 0px 0px 219px;
}

#u6704-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u6705
{
	z-index: 41;
	width: 310px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 218px;
	position: relative;
	background: #FFFFFF url("../../images/uos_logo.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6705
{
	background-image: url("../../images/uos_logo_2x.png");
}

#u6663
{
	z-index: 2;
	height: 128px;
}

#u6663-bw
{
	z-index: 2;
	margin-top: 69px;
	height: 128px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

