.version.about_uos3 /* version checker */
{
	color: #0000F7;
	background-color: #150DD0;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1425.975px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u6618
{
	z-index: 24;
	width: 94px;
	height: 90px;
	margin-bottom: -15px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#menuu6620
{
	z-index: 25;
	width: 339px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 254px;
}

#u6642
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6643
{
	width: 98px;
	padding-bottom: 16px;
}

#u6643:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6643.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6644-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6643:hover #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6643:active #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6643.MuseMenuActive #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6635
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6636
{
	width: 114px;
	padding-bottom: 16px;
}

#u6636:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6636.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6637-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6636:hover #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6636:active #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6636.MuseMenuActive #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6628
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6629
{
	width: 123px;
	padding-bottom: 16px;
}

#u6629:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6629.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6630-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6629:hover #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6629:active #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6629.MuseMenuActive #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6617,#u6617-bw
{
	z-index: 23;
	min-height: 76px;
}

#pu6709
{
	width: 0.01px;
	margin-left: -226px;
	margin-top: -1px;
}

#u6709
{
	z-index: 3;
	min-height: 228px;
	padding-bottom: 123px;
	background: transparent url("../../images/_8jb1215_edited.jpg") no-repeat center center;
	background-size: cover;
}

#u6717
{
	z-index: 17;
	width: 373px;
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #666197;
	background-color: rgba(27,20,100,0.67);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 194px;
	-pie-background: rgba(27,20,100,0.67);
}

#u6709-bw
{
	z-index: 3;
	min-height: 228px;
}

#u6710
{
	z-index: 4;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 64px;
}

#u6718-5
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
}

#u6711
{
	z-index: 5;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	margin-left: 198px;
	margin-top: 48px;
	position: relative;
}

#u6711:hover
{
	background-color: #1B1464;
	width: 366px;
	min-height: 0px;
	margin: 48px 0px 0px 198px;
}

#u6712-4
{
	z-index: 6;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u6714
{
	z-index: 11;
	width: 367px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 198px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: #FFFFFF url("../../images/uos3exploded_draftqualityraytracing_8000-6000.jpg") no-repeat right center;
	background-size: cover;
}

.hidpi #u6714
{
	background-image: url("../../images/uos3exploded_draftqualityraytracing_8000-6000_2x.jpg");
}

#u6713
{
	z-index: 10;
	width: 366px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 27px;
	margin-left: 198px;
	margin-top: 63px;
	position: relative;
}

#u6713:hover
{
	background-color: #1B1464;
	width: 366px;
	min-height: 0px;
	margin: 63px 0px 0px 198px;
}

#u6715-4
{
	z-index: 12;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u6712-4_img,#u6715-4_img
{
	display: block;
	vertical-align: top;
}

#u6716
{
	z-index: 16;
	width: 366px;
	height: 273px;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 198px;
	position: relative;
	background: #FFFFFF url("../../images/10655311_960061624018306_7507488981327110558_o-ieu6716-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/10655311_960061624018306_7507488981327110558_o.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

.hidpi #u6716
{
	background-image: url("../../images/10655311_960061624018306_7507488981327110558_o_2x.jpg");
}

#u6663
{
	z-index: 2;
	height: 128px;
}

#u6663-bw
{
	z-index: 2;
	margin-top: 48px;
	height: 128px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

