#u6618
{
	position: relative;
	background: transparent url("../../images/uos3.png") no-repeat center center;
}

.hidpi #u6618
{
	background-image: url("../../images/uos3_2x.png");
	background-size: 92px 92px;
}

#menuu6620
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6643
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6643:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6644-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6643:hover #u6644-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6643:active #u6644-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6636
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6636:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6637-5
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6636:hover #u6637-5 p,#u6636:hover #u6637-5 span
{
	color: #2E3192;
	visibility: inherit;
}

#u6636:active #u6637-5 p,#u6636:active #u6637-5 span
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6642,#u6635,#u6628
{
	background-color: transparent;
	position: relative;
}

#u6629
{
	background-color: transparent;
	border-radius: 5px;
	position: relative;
}

#u6629:hover
{
	background-color: #FFFFFF;
	border-radius: 3px;
}

#u6643.MuseMenuActive,#u6636.MuseMenuActive,#u6629.MuseMenuActive
{
	background-color: #FFFFFF;
	border-radius: 5px;
}

#u6630-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6629:hover #u6630-4 p
{
	color: #2E3192;
	visibility: inherit;
}

#u6629:active #u6630-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-weight: normal;
}

#u6643.MuseMenuActive #u6644-4 p,#u6636.MuseMenuActive #u6637-5 p,#u6636.MuseMenuActive #u6637-5 span,#u6629.MuseMenuActive #u6630-4 p
{
	color: #1B1464;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6617,#u6663
{
	background-color: #1B1464;
}

