.version.telecommunications /* version checker */
{
	color: #0000FD;
	background-color: #462EE6;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u6618
{
	z-index: 4;
	width: 94px;
	height: 90px;
	margin-bottom: -15px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#menuu6620
{
	z-index: 5;
	width: 339px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 254px;
}

#u6642
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u6643
{
	width: 98px;
	padding-bottom: 16px;
}

#u6643:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6643.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u6644-4
{
	width: 69px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6643:hover #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6643:active #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6643.MuseMenuActive #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6635
{
	width: 114px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u6636
{
	width: 114px;
	padding-bottom: 16px;
}

#u6636:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6636.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u6637-5
{
	width: 86px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6636:hover #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6636:active #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6636.MuseMenuActive #u6637-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u6628
{
	width: 123px;
	min-height: 35px;
	margin-right: -10000px;
	left: 216px;
}

#u6629
{
	width: 123px;
	padding-bottom: 16px;
}

#u6629:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6629.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u6630-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 8px;
	left: 14px;
}

#u6629:hover #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6629:active #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6629.MuseMenuActive #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u6617,#u6617-bw
{
	z-index: 3;
	min-height: 76px;
}

#u6663
{
	z-index: 2;
	height: 128px;
}

#u6663-bw
{
	z-index: 2;
	margin-top: 896px;
	height: 128px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -896px;
}

